/* Tiles position managed - Start */
.iv-guide-tiles .product-list[collection-desktop-layout="large"] .iv-guide-box-2,
.iv-guide-tiles .product-list[collection-desktop-layout="medium"] .iv-guide-box-2,
.iv-guide-tiles .product-list[collection-desktop-layout="compact"] .iv-guide-box-2{
    display: none;
}
@media (min-width: 700px) and (max-width: 1399px) {
    .iv-guide-tiles .product-list[collection-desktop-layout="large"] .iv-guide-box-2,
    .iv-guide-tiles .product-list[collection-desktop-layout="medium"] .iv-guide-box-2,
    .iv-guide-tiles .product-list[collection-desktop-layout="compact"] .iv-guide-box-2{
        display: block;
    }
    .iv-guide-tiles .product-list[collection-desktop-layout="large"] .iv-guide-box-1,
    .iv-guide-tiles .product-list[collection-desktop-layout="medium"] .iv-guide-box-1,
    .iv-guide-tiles .product-list[collection-desktop-layout="compact"] .iv-guide-box-1{
        display: none;
    }
}
@media (min-width: 700px) {
    .iv-guide-tiles .product-list[collection-desktop-layout="compact"] {
        column-gap: 1rem;
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 1400px) {
    .iv-guide-tiles .product-list[collection-desktop-layout="compact"] { 
        grid-template-columns: repeat(6, 1fr);
    }
}
/* Tiles position managed - End */

.iv-guide-tiles-box {
    position: relative;
    height: 85%;
}
.iv-guide-content {
    position: absolute;
    bottom: 0;
    padding: 10px;
}
.iv-guide-bg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.iv-guide-bg {
    height: 100%;
    width: 100%;
}
.iv-guide-inner {
    background-color: rgb(0 0 0 / 58%);
    color: #fff;
    padding: 10px;
    font-size: 15px;
    font-family: Montserrat, sans-serif;
    margin-bottom: 8px;
    line-height: normal;
}
.iv-guide-cta {
    background-color: #005CAA;
    width: 100%;
    display: block;
    text-align: center;
    color: #fff;
    padding: 10px;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
}
.iv-guide-cta:hover {
    background-color: #1280dd;
}
@media (max-width: 767px) {
    .iv-guide-inner {
        text-align: center;
    }
    .iv-guide-cta {
       font-size: 10px;
    }
}
@media (max-width: 480px) {
    .iv-guide-tiles-box {
        height: 60%;
    }
    .iv-guide-content {
        padding: 5px;
    }
    .iv-guide-inner {
        margin-bottom: 6px;
        font-size: 12px;
    }
    .iv-guide-cta {
        padding: 10px 3px;
    }
}
