.homeSubPage h1.page-header {
    display: none;
}
.homeSubPage .hero-section {
    position: relative;
}
.homeSubPage .content-box h1 {
    margin: 0 0 7px 0;
    font-size: 20px;
}
.homeSubPage .content-box {
    position: absolute;
    width: 100%;
    max-width: 50%;
    top: 50%;
    left: 0;
    background: rgba(255, 255, 255, 0.85);
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    padding: 30px;
    z-index: 1;
}
.homeSubPage .hero-section .hero-bg img {
    width: 100%;
}
.content-box .btn.btn-secondary.hero-btn {
    font-size: 14px;
}
@media (max-width: 1440.98px) {
    .homeSubPage .content-box {
        max-width: 55%;
    }
}
@media (max-width: 1199.98px) {
    .homeSubPage .content-box {
        max-width: 80%;
        padding: 20px;
    }
    .homeSubPage .content-box h1 {
        font-size: 16px;
    }
}
@media (max-width: 767.98px) {
    .homeSubPage .content-box {
        max-width: 75%;
    }
    .homeSubPage .hero-section .hero-bg img {
        min-height: 300px;
        object-fit: cover;
    }
    .homeSubPage .content-box h1 {
        font-size: 25px;
    }
}
@media (max-width: 599.98px) {
    .homeSubPage .content-box {
        max-width: 90%;
    }
    .homeSubPage .content-box h1 {
        font-size: 20px;
    }
}