.pss-card-list__bottom-wrapper {
    display: none;
}

.pss-card-list__bottom-actions {
    margin-top: 15px;
}

.pss-card-list__bottom-actions a {
    background-color: #0a1f8f;
    margin-left: auto;
}