.iv-GAEHero header.entry-header > a {
    pointer-events: none;
    color: #fff;
}
.iv-GAEHero header.entry-header h1 + p {
    color: #ff8b00;
    font-weight: 500;
    font-size: 28px;
}

@media (max-width: 991.98px) {
    .iv-GAEHero header.entry-header {
        width: 100%;
    }
}
@media (max-width: 767.98px) {
    .container header.entry-header .content h2:first-child,
    .iv-GAEHero .subpage-img .entry-header h1 br {
        display: none;
    }
    .iv-GAEHero header.entry-header > a {
        font-size: 26px;
    }
    .container header.entry-header .content h2 + h2 {
        color: #fff;
    }
    .iv-GAEHero .subpage-img {
        padding-top: 120px;
    }
    .iv-GAEHero .subpage-img .entry-header h1 {
        font-size: 35px;
    }
    .iv-GAEHero header.entry-header h1 + p {
        font-size: 18px;
    }
}
@media (max-width: 424.98px) {
    .iv-GAEHero header.entry-header > a {
        font-size: 24px;
    }
    .iv-GAEHero header.entry-header .bookfree-link a {
        display: block;
        height: auto;
    }
}
@media (max-width: 359.98px) {
    .iv-GAEHero header.entry-header > a {
        font-size: 21px;
    }
}