.iv-locationsPage button.top-nav-search-md {
    display: none;
}
@media screen and (max-width: 767.98px) {
    .iv-locationsPage .navaction-search,
    .iv-locationsPage header .bookfree-link > a span.big,
    .iv-locationsPage .header-actions button.menu-togglebtn,
    .iv-locationsPage #maincontainer ul.locations_list li .__btn a.btn-info,
    .iv-locationsPage #secondary {
        display: none;
    }
    .iv-locationsPage .subpage-img {
        padding: 100px 0 5rem;
    }
    .iv-locationsPage .subpage-img .entry-header h1 {
        padding-top: 0;
    }
    .iv-locationsPage header .bookfree-link {
        display: flex !important;
        align-items: center;
        gap: 10px;
        padding: 5px 0 5px 5px;
    }
    .iv-locationsPage header div > .bookfree-link > .nav-link {
        background: var(--c-accent);
        color: #fff;
        height: 44px;
        padding: 0 8px;
    }
    .iv-locationsPage #offcanvas-navbar .offcanvas-header {
        color: #000;
    }
    .iv-locationsPage #offcanvas-navbar #bootscore-navbar li.bookfree-link {
        text-align: center;
    }
    .iv-locationsPage #offcanvas-navbar #bootscore-navbar li.bookfree-link  a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        border-radius: 20rem;
        background: var(--c-accent);
        color: #fff;
        font-weight: 700;
        font-size: 17px;
        border: 0px;
        padding-left: 1.7em;
        padding-right: 1.7em;
        background-image: var(--c-gradient-accent, linear-gradient(118deg, rgb(255, 139, 0) 0%, rgb(255, 112, 0) 100%));
    }
    .iv-locationsPage #nav-main .menu-togglebtn {
        order: inherit;
    }
    .iv-locationsPage header .bookfree-link > a img {
        width: 100%;
        max-width: 40px;
    }
    
    .iv-locationsPage #nav-main button.menu-togglebtn {
        font-size: 25px;
    }
    .iv-locationsPage header .navbar div > .navbar-brand {
        max-width: 150px;
        margin-left: auto;
    }
    .iv-locationsPage #maincontainer {
        flex-direction: column-reverse;
    }
    .iv-locationsPage #maincontainer ul.locations_list {
        max-height: inherit;
        overflow-y: inherit;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .iv-locationsPage #maincontainer ul.locations_list li { 
        flex-direction: column;
        width: 50%;
    }
    .iv-locationsPage #maincontainer ul.locations_list li:nth-child(-n+2) {
        border-top: 0;
    }
    .iv-locationsPage #maincontainer .__right {
        width: 100%;
        max-width: 100%;
    }
    .iv-locationsPage #maincontainer ul.locations_list li .__btn {
        margin-right: auto;
        margin-left: inherit !important;
    }
    .iv-locationsPage #maincontainer ul.locations_list li .__btn a {
        font-size: 15px;
    }
    .iv-locationsPage #map_canvas {
        height: 425px;
    }
}
@media screen and (max-width: 499.98px) {
    .iv-locationsPage header .navbar div > .navbar-brand {
        max-width: 140px;
    }
    .iv-locationsPage .subpage-img {
        padding: 80px 0 5rem;
    }
}
@media screen and (max-width: 424.98px) {
    .iv-locationsPage header .navbar div > .navbar-brand {
        max-width: 100px;
    }
    .iv-locationsPage header .bookfree-link > a img {
        max-width: 30px;
    }
}
@media screen and (max-width: 359.98px) {
    .iv-locationsPage .subpage-img {
        padding: 70px 0 5rem;
    }
    .iv-locationsPage header .bookfree-link {
        gap: 5px;
        padding: 0px 0 0px 10px;
    }
    .iv-locationsPage #nav-main button.menu-togglebtn {
        font-size: 20px;
    }
    .iv-locationsPage header .navbar div > .navbar-brand {
        max-width: 88px;
    }
    .iv-locationsPage header .bookfree-link > a img {
        max-width: 24px;
    }
    .iv-locationsPage header div > .bookfree-link > .nav-link {
        font-size: 13px;
        height: 40px;
    }
}