.iv-pricing .amw-plp-item__price-panel-inner > div:has([test-id=retail-price-value]) {
    display: none;
}
.iv-pricing .amw-plp-item__price-panel-inner > .item-code {
    margin-bottom: 0;
}
.iv-pricing .amw-plp-item__add-to-cart-wrapper {
    padding-top: 0.65em;
}
.iv-pricing .amw-plp-item [test-id=add-to-cart-button] {
    background-color: #38539a;
    display: flex;
    column-gap: 3px;
}
.iv-pricing .amw-plp-item [test-id=add-to-cart-button]:hover {
    background-color: #7287bb;
}
.iv-pricing .amw-plp-item [test-id=add-to-cart-button]::after {
    content: attr(data-price);
    margin-left: auto;
}
@media (min-width: 769px) {
    .iv-pricing .amw-plp-item__stock-availability > div:last-child {
        padding-bottom: 0;
    }
}