.trialPage_test .header .last-col,
.trialPage_test .why-choose-section h2,
.trialPage_test #field_5_7,
.trialPage_test #field_5_1 .gfield_label.gfield_label_before_complex,
.trialPage_test #gform_5 label[for="input_5_1_3"],
.trialPage_test #gform_5 label[for="input_5_1_6"],
.trialPage_test #gform_5 label[for="input_5_2"],
.trialPage_test #gform_5 label[for="input_5_3"],
.trialPage_test #gform_5 label[for="input_5_4"],
.trialPage_test .freeTrial,
.trialPage_test #inner-header .social,
.trialPage_test #logo .block-btn,
.trialPage_test #inner-header #mobile-header,
.trialPage_test .phone_icon{
   display: none;
}

.trialPage_test .header{
    height: auto;
    background-color: #333e4b;
}
.trialPage_test .header #logo{
    display: flex;
    text-align: inherit;
    align-items: center;
}
.trialPage_test .header #logo a[href="https://www.mapcommunications.com"]{
    margin-left: 18px;
}
.trialPage_test .top-wrapper{
    background: #00529C !important;
}
.trialPage_test .left_part,
.trialPage_test #gform_wrapper_5{
    width: 50%;
}
.trialPage_test .left_part{
    max-width: 520px;
    color: #fff;
    position: relative;
}
.trialPage_test .left_part::after{
    content: "";
    background-image: url(https://res.cloudinary.com/ignite-visibility/image/upload/v1670414678/mapcommunications/Free_Trial_Page/Map_Desktop_Arrow.png);
    height: 146px;
    width: 286px;
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateX(-50%) rotate(45deg);
    left: 50%;
    top: 50%;
}

.trialPage_test #gform_wrapper_5{
    background-color: #fff;
    padding: 30px;
}
.left_part h1{
    font-size: 35px;
}
.left_part h1+p{
    font-size: 22px;
}
.trialPage_test .top-banner-internal{
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 160px 0 25px;
}
.trialPage_test .left_part ul{
    padding-left: 44px;
    margin: 0;
}
.trialPage_test .left_part ul li{
    font-size: 18px;
    position: relative;
    margin-bottom: 12px;
}
.trialPage_test .left_part ul li:before{
    position: absolute;
    width: 10px;
    height: 10px;
    left: -26px;
    vertical-align: middle;
    font-family: fontello;
    display: inline-block;
    content: '\e800';
    padding-right: 10px;
    color: #40BD5E;
}
#gform_5 .gform_footer,
#gform_5 .gform_footer+p{
    text-align: left !important;
}
#gform_5 .gform_footer+p{
    margin: 0;
}
#gform_5 #field_5_4{
    margin-top: 0;
}
#gform_5 #field_5_6,
#gform_5 #field_5_5{
    width: 100% !important;
}
#gform_5 .gform_footer input{
    background-color: #FD6508;
}


@media (max-width: 1029.98px){
    .trialPage_test .header h4{
        padding-top: 10px;
        width: 100%;
        text-align: left;
    }
    .header h4 span{
        margin-left: 10px !important;
    }
    .trialPage_test .top-banner-internal {
        display: block;
        padding: 134px 0 25px;
    }
    .trialPage_test .left_part, .trialPage_test #gform_wrapper_5{
        width: 100%;
    }
    .trialPage_test .left_part::after{
        display: none;
    }
}
@media (max-width: 767.98px){
    .trialPage_test .top-banner-internal {
        padding: 25px 0;
    }
    .trialPage_test #gform_wrapper_5 {
        padding: 12px;
    }
    .trialPage_test #field_5_1 #input_5_1_3_container,
    .trialPage_test #field_5_1 #input_5_1_6_container,
    .trialPage_test #field_5_2,
    .trialPage_test #field_5_4{
        width: 100%;
    }
    .trialPage_test #gform_5 #field_5_1{
        margin-top: 0;
    }
    .trialPage_test #field_5_2,
    .trialPage_test #field_5_4{
        padding: 0 !important;
    }
    #gform_5 #field_5_1 #input_5_1_6_container{
        margin-top: 16px;
    }
    #gform_5 #field_5_2 #input_5_2{
        margin-bottom: 0;
    }
    .trialPage_test #inner-header #mobile-header,
    .trialPage_test #logo .block-btn,
    .trialPage_test .phone_icon{
        display: block;
    }
    #mobile-header+div{
        display: flex;
        align-items: center;
    }
    .phone_icon img{
        width: 100%;
        max-width: 32px;
        margin-top: 16px;

    }
    
}