.dropdown_test .pdp-options__grid {
    display: block;
    width: 100%;
    margin-top: 30px;
}
.dropdown_test .pdp-options__button-container {
    width: 100%;
}

.dropdown_test .select_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.dropdown_test .select_wrapper .pdp-cart__ships {
    margin-top: 0;
    margin-bottom: 20px;
}
.dropdown_test .custom_selectBox {
    max-width: 260px;
    width: 100%;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    height: 60px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 27px 0 15px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.dropdown_test .custom_selectBox:before {
    box-sizing: border-box;
    border-style: solid;
    border-color: #000;
    border-width: 0px 1px 1px 0px;
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    right: 15px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    pointer-events: none;
}
.dropdown_test .custom_selectBox label {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 12px;
    color: #4e4e4e;
}
.dropdown_test .custom_selectBox select {
    border: none;
    width: 100%;
    font-size: 16px;
    height: 100%;
    background: transparent;
    color: #000;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 0 15px;
}
.dropdown_test .custom_selectBox select option {
    padding: 15px 0;
    font-size: 14px;
}