@media (max-width: 767.98px) {
    .ivHeroBanner main .home-banner {
        width: 100%;
    }
    .ivHeroBanner main .home-banner picture {
        border-radius: inherit;
        height: 130px;
    }
    .ivHeroBanner main .home-banner .container {
        width: calc(100% - 40px);
    }
    .ivHeroBanner main .home-banner .container .banner-content{
        padding-top: 12px;
    }
    .ivHeroBanner main .home-banner .container .banner-content .banner-btn {
        margin-top: 10px;
    }
}
@media (min-width: 600px) and (max-width: 767.98px) {
    .ivHeroBanner main .home-banner picture {
        height: 250px;
    }
}
@media (min-width: 425px) and (max-width: 599.98px) {
    .ivHeroBanner main .home-banner picture {
        height: 200px;
    }
}
@media (min-width: 425px) and (max-width: 499.98px) {
    .ivHeroBanner main .home-banner picture {
        height: 150px;
    }
}