body.cybergrx_test ul.blogEngagement_text{
    margin-top: 18px;
    padding-left: 40px;
}
body.cybergrx_test ul.blogEngagement_text li{
    position: relative;
}
body.cybergrx_test ul.blogEngagement_text li:before{
    content: "" !important;
    background-image: url('//res.cloudinary.com/ignite-visibility/image/upload/v1670914094/CyberGRX/Blog_Engagement_section/Blog_Bullet_2x.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 1px;
    left: -40px;
  }
  
  