/* How it Works */
.work_iv .border-light {
    opacity: .6;
}
.work_iv .work-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 940px;
}
.work_iv .work-item {
    position: relative;
    text-align: center;
    width: 33.33%;
    padding: 0 10px;
}
.work_iv .work-item:nth-child(2):before,
.work_iv .work-item:nth-child(2):after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #fff;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 0;
}
.work_iv .work-item:nth-child(2):after {
    right: 0;
    left: inherit;
}
.work_iv .work-item .work-count {
    background: #FFFFFF;
    border-radius: 50%;
    color: #1EAFC9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 900;
    line-height: 30px;
    margin: 0 auto 25px;
    height: 50px;
    width: 50px;
}
.work_iv .work-item p {
    font-size: 20px;
    font-weight: 600;
    max-width: 176px;
    margin: 0 auto;
}

@media screen and (max-width: 740px) {
    .work_iv .work-items {
        row-gap: 30px;
    }
    .work_iv .work-item {
        width: 100%;
    }
    .work_iv .work-item .work-count {
        margin-bottom: 15px;
    }
    .work_iv .work-item p {
        max-width: 276px;
    }

    .work_iv .work-item:nth-child(2):before, .work_iv .work-item:nth-child(2):after {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .work_iv .work-item:nth-child(2) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .work_iv .work-item:nth-child(2):after {
        top: inherit;
        right: inherit;
        bottom: 0;
    }
}