body #gform_page_14_1, body #gform_page_14_2 {
    display: block !important;
    margin-bottom: 16px;
}
body .gf_page_steps,
body input#gform_previous_button_14.button {
    display: none;
}
#gform_page_14_1 .gform_page_footer {
    height: 0;
    width: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
body form#gform_14 {
    margin-bottom: 15px;
}
body #input_14_1,
body .gform_wrapper.gravity-theme .ginput_container_address {
    display: grid;
    grid-columns: repeat (3, 1fr);
    grid-row-gap: 16px;
    grid-column-gap: 14px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, auto);
}
body #input_14_1 > * {
    grid-column: span 1;
    width: 100%;
    padding: 0;
}
body div#field_14_31,
body fieldset#field_14_9 {
    grid-column: span 6;
}
body div#field_14_35,
body div#field_14_4 {
    grid-column: span 3;
}
body .gform_wrapper.gravity-theme .ginput_container_address {
    grid-columns: repeat (2, 1fr);
    grid-template-columns: repeat(2,1fr);
    margin: 0;
    row-gap: 0;
}
body .gform_wrapper.gravity-theme .ginput_container_address span {
    padding: 0;
    flex: 100%;
}
body input#gform_submit_button_14 {
    margin: 0 auto;
    display: block;
}
body .ginput_container_checkbox {
    text-align: center;
}




body .gfield_description {
    display: none;
}
body .gform_wrapper.gravity-theme .gform_validation_errors {
    margin-bottom: 20px;
    text-align: center;
    padding: 16px;
}

body .gform_wrapper.gravity-theme .gform_validation_errors .gform_submission_error {
    padding-bottom: 0;
}