.hero-carousel > div:nth-of-type(1) h2 br {
    display: none;
}

/* only v2 */
.hero-carousel {
    transform: inherit !important;
    display: block !important;
}
.hero-carousel > div:not(:first-child),
.hero-carousel + .carousel-pagination {
    display: none !important;
}
.iv-bullet-content {
    margin: 15px 0 15px -5px;
}
.iv-bullet-content li::before{
    display: none;
}