.hbspt-form input.hs-button {
    display: none !important;
}
.hbspt-form .hs-button.actionBtn {
    display: inline-block;
    text-align: center;
    font-weight: 400;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid #c4c4c4;
    border-radius: 0;
    box-shadow: none;
    transition: all 0.5s;
    width: 100%;
    background: #181E53;
    color: white;
    white-space: pre-wrap;
    cursor: pointer;
}

.iv-hero-sec .innerPart {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    padding-top: 270px;
    padding-bottom: 150px;
    align-items: center !important;
}
.hero_sec .elementor-motion-effects-layer::before{
    background-image: linear-gradient(0deg, #000000 -8%, rgba(0, 0, 0, 0) 60%) !important;
}
.innerPart > div:first-child{
    width: 60%;
}
.innerPart .hero-form{
    width: 40%;
}
.innerPart > div:first-child > .elementor-widget-button{
    display: none;
}

.iv-hero-sec .innerPart h1 {
    font-size: 52px !important;
    font-weight: 900 !important;
    letter-spacing: normal !important;
    line-height: 60px;
    width: 100%;
    max-width: 600px;
}

.iv-hero-sec .innerPart>div>div {
    text-align: start !important;
}

.iv-hero-sec .innerPart>div .elementor-widget-container>ul {
    justify-content: left !important;
}

.iv-hero-sec .innerPart>div>div h2 {
    font-size: 24px !important;
}

.iv-hero-sec .innerPart>div .elementor-widget-container>ul li {
    align-items: center;
    margin-bottom: 5px;
}

.iv-hero-sec .innerPart>div .elementor-widget-container>ul .elementor-icon-list-icon svg {
    width: 26px;
    height: 26px;
}

.iv-hero-sec .innerPart>div .elementor-widget-container>ul .elementor-icon-list-text {
    font-size: 22px !important;
}
.innerPart .hero-form .hbspt-form {
    position: relative;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 20px 35px 2px #000;
}
.innerPart .hero-form .hbspt-form .hs-primary_language .input ul{
    display: flex;
}
.innerPart .hero-form .hbspt-form .hs-primary_language .input ul li {
    width: 40%;
}
.innerPart .hero-form .hbspt-form .hs-button{
    background-color: #34B5E5 !important;
    border: 0;
    padding: 15px;
    font-size: 18px;
}
.hero_sec li.elementor-icon-list-item .elementor-icon-list-text {
    font-weight: 100 !important;
}

.hero_sec h2 {
    text-transform: capitalize !important;
}

.innerPart .hero-form .hbspt-form form .hs-form-field input {
    margin-bottom: 0;
}

.innerPart .hero-form .hbspt-form form .hs-form-field {
    margin-top: 15px !important;
}

.hero-form .newSelectBox .input + .input,
.hero-form .newSelectBox legend.hs-field-desc {
    display: none;
}

.hero-form #newSelect_iv {
    display: block;
}

#newSelect_iv {
    display: none;
}

@media (max-width:991px) {
    .innerPart .hero-form {
        width: 50%;
    }
}
@media (max-width:767px) {
    .iv-hero-sec .innerPart{
        flex-direction: column !important;
        padding-top: 150px;
        padding-bottom: 100px;
    }
    .innerPart > div:first-child,
    .innerPart .hero-form{
        width: 100%;
    }
    .iv-hero-sec .innerPart > div > div{
        text-align: center !important;
    }
    .iv-hero-sec .innerPart > div .elementor-widget-container > ul{
        justify-content: flex-start !important;
        margin: 0 auto !important;
        width: 100%;
        max-width: 339px;
        text-align: left;
    }
    .iv-hero-sec .innerPart>div .elementor-widget-container>ul .elementor-icon-list-icon svg {
        width: 20px;
        height: 20px;
    }
    .iv-hero-sec .innerPart>div .elementor-widget-container>ul .elementor-icon-list-text {
        font-size: 16px !important;
    }
    .innerPart .hero-form .hbspt-form form {
        text-align: left;
    }
    .iv-hero-sec .innerPart h1 {
        font-size: 41px !important;
        line-height: 56px !important;
        letter-spacing: normal !important;
        max-width: 100%;
    }
    .hero_sec .elementor-motion-effects-layer::before {
        background-image: linear-gradient(0deg, #000000 12%, rgba(0, 0, 0, 0) 150%) !important;
    }
    .hero_sec .elementor-element {
        padding-right: 0;
    }
}