.iv-starting-label .iv-label-section {
    align-items: center;
    gap: 10px;
}
.iv-starting-label .iv-label-section .iv-label {
    font-size: 12px;
    color: #000000;
}

@media (max-width: 400px) {
    .iv-starting-label .iv-box-section div .grow div > div> div.w-28 {
        width: 4.8rem !important;
    }
    .iv-starting-label .iv-label-section {
        gap: 3px;
    }
}