.pricing_iv .section4 .wpb_wrapper .btn-wrap {
    padding-top: 50px;
}
.pricing_iv .section4 .wpb_wrapper .btn-wrap a {
    display: flex;
    width: 100%;
    border-radius: 50px;
    max-width: 250px;
    background-color: #0035F0;
    border: 1px solid transparent;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 12px;
}
.pricing_iv .section4 .wpb_wrapper .btn-wrap a:hover {
    border: 1px solid #0035F0;
    background-color: transparent;
}

.pricing_iv .section4 .wpb_wrapper .btn-wrap a span {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}
.pricing_iv .section4 .wpb_wrapper .btn-wrap a:hover span {
    color: #0035F0;
}