
@media screen and (max-width: 767.98px) {
    body {
        opacity: 0;
    }
    .mobile_redesign_test #Content {
        margin: 0;
    }
    .mobile_redesign_test #Top_bar {
        min-height: 120px;
    }
    .mobile_redesign_test .nav_cta {
        margin-top: 20px;
    }
    .mobile_redesign_test .nav_cta a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #425CFB;
        font-size: 16px;
    }
    .mobile_redesign_test .nav_cta a img {
        max-width: 20px;
        margin-left: 10px;
    }
    .mobile_redesign_test .hero {
        background-image: url('//res.cloudinary.com/ignite-visibility/image/upload/f_auto/mobileIVnurses/home-page/Background.png');
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
    }
    .mobile_redesign_test .hero .hero_content {
        padding: 50px 0;
    }
    .mobile_redesign_test .hero .hero_content .hero_title {
        font-size: 40px;
        line-height: 50px;
        color: #FFFFFF;
        text-align: center;
    }
    .mobile_redesign_test .hero .hero_content .hero_description {
        color: #FFFFFF;
        font-size: 28px;
        line-height: 32px;
        text-align: center;
    }
    .mobile_redesign_test .hero .hero_cta {
        text-align: center;
    }
    .mobile_redesign_test .hero .hero_cta a {
        background-color: #1B9D2C;
        box-sizing: border-box;
        color: #FFFFFF;
        display: block;
        margin: 0 auto;
        max-width: 316px;
        padding: 20px;
        text-transform: uppercase;
        width: 100%;
    }
    .mobile_redesign_test .hero .hero_cta a span {
        font-size: 20px;
        line-height: 22px;
    }
    .mobile_redesign_test .mfn-main-slider,
    .mobile_redesign_test .hero + div {
        display: none;
    }

    /* Modal */
    .mobile_redesign_test .modal-onload {
        box-sizing: border-box;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;
        width: 100%;
        z-index: 9999;
    }
    .mobile_redesign_test .modal-onload.fade .modal-body {
        -webkit-transition: -webkit-transform .3s ease-out;
        transition: transform .3s ease-out;
        -webkit-transform: translate(0, -25%);
        transform: translate(0, -25%);
    }
    .mobile_redesign_test .modal-onload.in .modal-body {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    .mobile_redesign_test .modal-body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 0.5rem;
        min-height: calc(100% - (0.5rem * 2));
        position: relative;
        pointer-events: none;
        width: auto;
    }
    .mobile_redesign_test .modal-content {
        background-color: #FFFFFF;
        border: 3px solid #0D5799;
        box-shadow: 0 6px 20px rgba(0, 0, 0, .6);
        border-radius: 40px;
        position: relative;
        pointer-events: auto;
        padding: 26px 30px 28px;
        min-height: 445px;
        text-align: center;
        width: 100%;
    }
    .mobile_redesign_test .model-inner {
        display: none;
        margin-top: 30px;
    }
    .mobile_redesign_test .model-inner.open {
        display: block;
    }
    .mobile_redesign_test .model-title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 30px;
    }
    .mobile_redesign_test .modal-button {
        background-color: #3CB5D0;
        box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        line-height: 18px;
        margin: 0 auto 25px;
        padding: 18px 26px;
        min-height: 57px;
    }
    .mobile_redesign_test .modal-button span {
        margin-left: 12px;
    }
    .mobile_redesign_test .model-close {
        color: #000000;
        cursor: pointer;
        display: inline-block;
        font-size: 20px;
        font-weight: 700;
        line-height: 17px;
        position: absolute;
        right: 25px;
        top: 20px;
    }
    .mobile_redesign_test .model-close:hover {
        text-decoration: none;
    }
}

@media screen and (max-width: 720.98px) {
    .mobile_redesign_test .nav_cta {
        margin-top: 0;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 374.98px) {
    .mobile_redesign_test .hero .hero_content .hero_title {
        font-size: 32px;
        line-height: 40px;
    }
    .mobile_redesign_test .hero .hero_content .hero_description {
        font-size: 24px;
        line-height: 30px;
    }
    .mobile_redesign_test .hero .hero_cta {
        margin-top: 20px;
        text-align: center;
    }
    .mobile_redesign_test .hero .hero_cta a span {
        font-size: 18px;
        line-height: 20px;
    }
}



/* Add your test CSS here */

.mobile_IV_Therapy .one-fourth:nth-child(5),
.mobile_IV_Therapy .fancy_heading h1.title,
.mobile_IV_Therapy .mcb-wrap-o3d5ksouj.one.column-margin-10px.valign-top.clearfix,
.section.mcb-section.mcb-section-38b543c6e,
.section.mcb-section.mcb-section-jfx934o4h,
.section.mcb-section.mcb-section-nrmgy3o9v,
.section.mcb-section.mcb-section-d0321ad65,
.section.mcb-section.mcb-section-d0321ad65,
.section.mcb-section.mcb-section-09f7ddde1.dark,
.section.mcb-section.mcb-section-u0hihnghj,
.section.mcb-section.mcb-section-lt7r7wcg1,
#Footer .footer_action{
    display: none;
}

/* iV Nurses */
.mobile_IV_Therapy .fancy_heading .iV_Nurses{
    background-color: aqua;
}


.mobile_redesign_test #Content .iV_Nurses,
.mobile_redesign_test #Content .benefits_IV{
    text-align: center;
    background-color: #00B4CF;
    padding: 1px 0 50px;
}
.mobile_redesign_test #Content .iV_Nurses h2,
.mobile_redesign_test #Content .benefits_IV h2{
    font-size: 30px;
    line-height: 30px;
    color: white;
    margin: 70px 0 20px;
}
.mobile_redesign_test .iV_Nurses ul li img{
    border: 2px solid white;
    padding: 12px 35px;
    margin: 30px 0 18px 0;
}
.mobile_redesign_test .iV_Nurses ul li p{
    color: white;
}

/* iV Nurses over*/

/* IV Drip */
.mobile_redesign_test .iV_drip .section_wrapper {
    padding: 0 15px !important;
}
.mobile_redesign_test .iV_drip h2{
    background: #F2F2F2;
    text-align: center;
    padding: 20px;
}
.mobile_redesign_test .iV_drip .iV_drip_inner{
    display: flex;
}
.mobile_redesign_test .iV_drip .iV_drip_wrap{
    margin: 35px 0;
}
.mobile_redesign_test .iV_drip .iV_drip_wrap .hero_cta{
    text-align: center;
    justify-content: center;
    background: white;
    margin: 20px;
    padding: 18px 0;
}
.mobile_redesign_test .iV_drip .iV_drip_wrap .hero_cta span{
    font-size: 16px;
    line-height: normal;
}
.mobile_redesign_test .iV_drip .iV_drip_inner .image{
    max-width: 138px;
}
.mobile_redesign_test .iV_drip .iV_drip_inner .image img{
    width: 100%;
}
.mobile_redesign_test .iV_drip .hero_cta .hero_btn{
    background-color: #1B9D2C;
    box-sizing: border-box;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
    max-width: 316px;
    padding: 20px;
    text-transform: uppercase;
    width: 100%;
}
.mobile_redesign_test .iV_drip .iV_drip_inner .desc .sub_Head{
    color: #51CADF;
}
.mobile_redesign_test .iV_drip .iV_drip_inner .desc ul li{
    color: #AEACAB;
}
.mobile_redesign_test .iV_drip .full_Menu{
    text-align: center;
    padding-bottom: 50px;
}
.mobile_redesign_test .iV_drip .full_Menu a{
    font-size: 16px;
    text-decoration: underline;
    color: #4D47F8;
    cursor: pointer;
}
.mobile_redesign_test .iV_drip .full_Menu a:hover {
    color: #0024ff;
}
/* IV Drip over*/
/* Benefits IV */
.mobile_redesign_test .benefits_IV .benefits_Header{
    text-align: center;
}

.mobile_redesign_test .benefits_IV ul li img{
    max-width: 100px;
    width: 100px;
    height: 100%;
    border: 2px solid white;
    margin-top: 45px;
    padding: 12px 22px;
}
.mobile_redesign_test .benefits_IV ul li h4{
    font-size: 32px;
    margin: 20px 0;
    color: white;
}
.mobile_redesign_test .benefits_IV ul li P{
    max-width: 245px;
    color: white;
    margin: 0 auto;
}
/* Benefits IV Over*/

/* FAQ */
.mobile_redesign_test .the_content.has_content{
    padding: 45px 0;
}
.mobile_redesign_test .the_content.has_content .the_content_wrapper .desc{
    margin-top: 40px;
}
.mobile_redesign_test #wpsm_accordion_4874 .wpsm_panel-heading {
    padding: 0px !important;
}

.mobile_redesign_test #wpsm_accordion_4874 .wpsm_panel-title {
    margin: 0px !important;
    text-transform: none !important;
    line-height: 1 !important;
}

.mobile_redesign_test #wpsm_accordion_4874 .wpsm_panel-title a {
    text-decoration: none;
    overflow: hidden;
    display: block;
    padding: 0px;
    font-size: 26px !important;
    font-family: Open Sans !important;
    color: #ffffff !important;
    border-bottom: 0px !important;
}

.mobile_redesign_test #wpsm_accordion_4874 .wpsm_panel-title a:focus {
    outline: 0px !important;
}

.mobile_redesign_test #wpsm_accordion_4874 .wpsm_panel-title a:hover,
.mobile_redesign_test #wpsm_accordion_4874 .wpsm_panel-title a:focus {
    color: #ffffff !important;
}

.mobile_redesign_test #wpsm_accordion_4874 .acc-a {
    color: #ffffff !important;
    background-color: #1670bf !important;
    border-color: #ddd;
}

.mobile_redesign_test #wpsm_accordion_4874 .wpsm_panel-default>.wpsm_panel-heading {
    color: #ffffff !important;
    background-color: #1670bf !important;
    border-color: #1670bf !important;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.mobile_redesign_test #wpsm_accordion_4874 .wpsm_panel-default {
    border: 1px solid transparent !important;
}

.mobile_redesign_test #wpsm_accordion_4874 {
    margin-bottom: 20px;
    overflow: hidden;
    float: none;
    width: 100%;
    display: block;
}

.mobile_redesign_test #wpsm_accordion_4874 .ac_title_class {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
}

.mobile_redesign_test #wpsm_accordion_4874 .wpsm_panel {
    overflow: hidden;
    -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .05);
    box-shadow: 0 0px 0px rgba(0, 0, 0, .05);
    border-radius: 4px;
}

.mobile_redesign_test #wpsm_accordion_4874 .wpsm_panel+.wpsm_panel {
    margin-top: 5px;
}

.mobile_redesign_test #wpsm_accordion_4874 .wpsm_panel-body {
    background-color: #ffffff !important;
    color: #1e73be !important;
    border-top-color: #1670bf !important;
    font-size: 20px !important;
    font-family: Open Sans !important;
    overflow: hidden;
    border: 2px solid #1670bf !important;
}

.mobile_redesign_test #wpsm_accordion_4874 .ac_open_cl_icon {
    background-color: #1670bf !important;
    color: #ffffff !important;
    float: left !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    line-height: 1.0 !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    display: inline-block !important;
}

.mobile_redesign_test #wpsm_accordion_4874 .wpsm_panel-heading {
    background-image: url(https://mobileivnurses.com/wp-content/plugins/responsive-accordion-and-collapse/img/style-soft.png);
    background-position: 0 0;
    background-repeat: repeat-x;
}

.mobile_redesign_test #wpsm_accordion_4874 .ac_open_cl_icon {
    background-image: url(https://mobileivnurses.com/wp-content/plugins/responsive-accordion-and-collapse/img/style-soft.png);
    background-position: 0 0;
    background-repeat: repeat-x;
}
/* FAQ OVER*/