@media(max-width: 767.98px) {
    .iv-navigation .nav-links {
        border-top: 1px solid #6B99CA;
        padding: 16px 0;
        text-align: center;
        background-color: #cce5ff87;
    }

    .iv-navigation .nav-links ul {
        display: flex;
        justify-content: space-around;
        gap: 30px;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .iv-navigation .nav-links a {
        text-decoration: none;
        font-size: 14px;
        color: #357ab8;
        font-weight: 500;
    }

    .iv-navigation .nav-links a:hover {
        text-decoration: underline;
    }
    .iv-navigation header {
        padding: 0;
    }
    /* only V2  */
    .iv-navigation.iv-navigation-v2 .nav-links ul {
        align-items: center;
    }
    .iv-navigation.iv-navigation-v2 .nav-links {
        line-height: normal;
    }
}