.hero_iv .hero .rte-setting {
    max-width: 330px;
    text-align: left;
    margin: 22px auto 0;
}
@media (max-width: 767.98px) {
    .hero_iv h3.h3.mega-title {
        font-size: 32px;
    }
}
@media (max-width: 359.98px) {
    .hero_iv h3.h3.mega-title {
        font-size: 28px;
    }
}