body .pss-button--filter-with-icon {
    border: 1px solid #ea101f;
}
body .pss-button--filter-with-icon>.pss-inner-filter-with-icon>span,
body .pss-button--filter-with-icon.selected>.pss-inner-filter-with-icon>span,
body .pss-button--filter-with-icon:hover>.pss-inner-filter-with-icon>span {
    color: #ea101f !important;
    font-weight: 700;
}

body .pss-button--filter-with-icon.selected>.pss-inner-filter-with-icon,
body .pss-button--filter-with-icon:hover>.pss-inner-filter-with-icon {
    background-color: rgb(143 10 10 / 7%);
}

body .pss-button--filter-with-icon>.pss-inner-filter-with-icon>svg {
    fill: #ea101f;
}
