.company-logos-block .company-logos .company-logo:nth-child(5) {
    display: none;
}

@media (max-width: 767px) {
    .company-logos-block {
        display: none;
    }
    
    .trial-wrapper .trial-content ul {
        margin-bottom: 20px;
    }
}