/* Common css */
.iv-form-hero fieldset .slide-overlay {
    border-radius: 0;
    padding: 40px 25px 25px;
}
.iv-form-hero .instaquote-container .step1 .slide-header .content-section {
    padding-bottom: 0;
}
body.iv-form-hero .moving-from-to .slide-footer h2 {
    font-size: 20px !important;
    margin-top: 10px;
}
.iv-form-hero .instaquote-container .content-section h1 {
    margin: 0;
    font-size: 38px !important;
    font-weight: 700 !important;
    line-height: 45.6px;
}
.iv-form-hero .content-section h3, .iv-form-hero-v5 .content-section h2 {
    max-width: 750px;
    width: 100%;
    line-height: 28.8px;
    margin: 5px auto 0;
}
.iv-form-hero .slide-footer .star-text {
    text-transform: none;
    font-weight: 400;
    font-size: 16px;
}
.iv-form-hero .slide-header ul {
    margin-bottom: 35px;
}
.iv-form-hero Form .slide-overlay fieldset input {
    font-size: 16px;
    height: 40px;
    font-weight: 500;
}
.iv-form-hero .carousel-box {
    background-image: none;
} 
body.iv-form-hero .long-distance__hero .slide-overlay .inner-container button {
    font-size: 20px;
    margin: 40px 0 15px;
}
.iv-form-hero [data-state="1"] fieldset[data-step="4"], 
.iv-form-hero [data-state="1"] fieldset[data-step="2"], 
.iv-form-hero [data-state="1"] fieldset[data-step="3"], 
.iv-form-hero [data-state="1"] fieldset[data-step="4"],
.iv-form-hero [data-state="1"] fieldset[data-step="5"] {
    display: none;
}

@media (max-width:767.98px) {
    .iv-form-hero fieldset .slide-overlay {
        padding: 25px 15px;
        border-radius: 10px;
    }
    .iv-form-hero .moving-from-to .stars .star-image {
        display: block;
        margin-bottom: 5px;
    }
    .iv-form-hero .instaquote-container .content-section h1 {
        line-height: 36px;
        font-size: 30px !important;
    }
    body.iv-form-hero .moving-from-to .slide-footer h2 {
        margin: 5px 0 0;
        line-height: 23px;
        padding: 0;
    }
    .iv-form-hero .content-section h3, .iv-form-hero-v5 .content-section h2 {
        font-size: 26px;
        line-height: 31.2px;
    }
    .iv-form-hero .slide-header ul {
        margin-bottom: 20px;
        margin-top: 20px;
        padding: 0 10px 0 40px;
    }
	body.iv-form-hero .long-distance__hero .slide-overlay .inner-container button {
        margin: 10px 0;
        font-size: 16px;
        padding: 10px;
        width: auto;
        line-height: 20px;
    }
    .iv-form-hero .slide-footer .star-text {
        font-size: 13px;
    }
    .iv-form-hero Form .slide-overlay fieldset label {
        font-size: 14px;
    }
}


/* V1 & V2 */
@media (max-width:767.98px) {
    .iv-form-hero-v1 .instaquote-container,
    .iv-form-hero-v2 .instaquote-container {
        background-image: url(https://avlnavlblob.blob.core.windows.net/allied-com/images/default-source/householdimages/young-family-waving-at-truck-d-1500x1000.jpg?sfvrsn=53044dfb_6);
        background-position: 25%;
    }
}

/* V3 & V6 */
@media (max-width:767.98px) {
    .iv-form-hero-v3 .instaquote-container,
    .iv-form-hero-v6 .instaquote-container {
        background-image: url(https://avlnavlblob.blob.core.windows.net/allied-com/images/default-source/householdimages/long-distance-road-small.jpg?sfvrsn=c4a472fb_2);
        background-position: 50%;
    }
}

/* V4 */
@media (max-width:767.98px) {
    .iv-form-hero-v4 .instaquote-container {
        background-image: url(https://avlnavlblob.blob.core.windows.net/allied-com/images/default-source/default-album/allied-household-moving-truck-1500x535.jpg?sfvrsn=a2ff40fb_4);
        background-position: 50% 50%;
    }
}

/* V5 */
body.iv-form-hero-v5 .slide-overlay .inner-container button {
    font-size: 20px;
    margin: 40px 0 15px;
    background-color: #f58024;
    padding: 1.2rem 1rem;
    letter-spacing: .078em;
    height: 53px;
    transition: background .4s, color .4s;
}
body.iv-form-hero-v5 .slide-overlay .inner-container button:hover{
    background-color: #407cca;
}
.iv-form-hero-v5 .slide-footer .star-text {
    text-transform: none;
    font-weight: 400;
    position: relative;
    left: 5px;
    top: 0;
    text-shadow: 0 0 4px #000;
}
.iv-form-hero-v5 fieldset .slide-overlay .slide-footer .content-section{
    padding-top: 15px;
}
.iv-form-hero-v5 fieldset .slide-overlay .slide-footer .content-section .star-image img{
    max-width: 20px;
}
body.iv-form-hero-v5 .slide-overlay .inner-container button::after{
    content: "\1F86A";
    margin-left: 5px;
}

@media (max-width:767.98px) {
    .iv-form-hero-v5 .instaquote-container {
        background-position: 40% 50%;
    }
    body.iv-form-hero-v5 .slide-overlay .inner-container button {
        margin: 10px 0 !important;
        font-size: 16px !important;
        padding: 10px !important;
        width: auto;
        line-height: 25px;
        height: 40px;
    }
}