@media (max-width: 767px) {
    body {
        padding-bottom: 44px;
    }
    
    .buy-buttons button.sticky {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 9;
    }
    body #Avada-CookiesBar .Avada-CookiesBar__Reopen-Popup--bottom-left,
    body #ShopifyChat {
        bottom: 64px !important;
        height: auto !important;
    }
}