



.telemedicine_test .hero_section .elementor-column.elementor-col-50{
    width: 100%;
    z-index: 9999;
}
.telemedicine_test .hero_section {
    background: #cdfffe !important;
}
body.telemedicine_test.hero_section>.elementor-container{
    overflow: hidden;
}
.telemedicine_test .hero_section>.elementor-container:before {
    content: "";
    background-image: url('//res.cloudinary.com/ignite-visibility/image/upload/v1666964707/Persona_Labs/Telemedicine_page/hero_bg_2x.png');
    top: 0;
    left: 50%;
    position: absolute;
    width: 770px;
    height: 490px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: translateX(-50%);
    margin-left: 260px;
}
.telemedicine_test .hero_section h1{
    font-size: 34px;
    font-weight: 500;
}
.telemedicine_test .hero_section .subtitle-text p{
    font-size: 21px;
    font-weight: 400;
    color: #000 !important;
}
.telemedicine_test .hero_section .elementor-heading-title,
.telemedicine_test .hero_section .elementor-widget-container div {
    color: #000 !important;
}
.telemedicine_test .section0 .elementor-element:nth-child(3) a{
    background-color: #0080B8;
    color: #fff;
}
.telemedicine_test .works_section{
    background-color: #fff;
    padding: 37px 0 37px;
}
.telemedicine_test .works_section .works_inner{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}
.telemedicine_test .works_section h2{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.4px;
    margin-top: 0;
    margin-bottom: 17px;
}
.telemedicine_test .works_section .works_item{
    text-align: center;
}
.telemedicine_test .works_section .works_inner img{
    width: 100%;
    max-width: 78px;
}
.telemedicine_test .works_section .works_inner .works_span{
    display: inline-grid;
    font-size: 16px;
    max-width: 227px;
    line-height: 18px;
    margin: 7px 0 0 0px;
    letter-spacing: 0.2px;
}
.telemedicine_test .works_section .works_inner .works_span span{
    font-weight: 700;
    margin: 0px 0 12px 0;
}

.telemedicine_test .offer_section{
    background-color: #026980;
    padding: 50px 0;
}
.telemedicine_test .offer_inner{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 991px;
    margin: 0 auto;
    padding: 0 15px;
}
.telemedicine_test .offer_itemInner h2{
    font-size: 44px;
    color: #fff;
}
.telemedicine_test .offer_inner .offer_item:nth-child(2){
    max-width: 440px;
    border-right: 2px solid #274776;
    border-left: 2px solid #274776;
    padding-right: 10px;
    padding-left: 10px;
}
.telemedicine_test .offer_inner .offer_item:nth-child(2) p{
    color: #fff;
    font-size: 16px;
}
.telemedicine_test .ul_wrapper{
    display: flex;
    justify-content: space-around;
}
.telemedicine_test .ul_wrapper ul{
    padding: 0;
}
.telemedicine_test .offer_inner .offer_item ul li{
    color: #fff;
    position: relative;
    list-style: none;
}
.telemedicine_test .offer_inner .offer_item ul li:before{
    content: "";
    border-bottom: solid 1px currentColor;
    border-left: solid 1px currentColor;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    color: #78DFF3;
    position: absolute;
    width: 14px;
    height: 8px;
    position: absolute;
    margin-top: 8px;
    margin-left: -21px;
}
.telemedicine_test .offer_inner .offer_item:nth-child(3) p{
    display: inline-grid;
}
.telemedicine_test .offer_inner .offer_item:nth-child(3) p .span{
    font-size: 55px;
    color: #fff;
}
.telemedicine_test .offer_inner .offer_item:nth-child(3) p .span_inner{
    font-weight: 300;
    color: #fff;
    padding: 15px 0 0 30px;
}
.telemedicine_test .offer_section .offer_inner .offer_item a{
    background-color: #1B9D2C;
}
.telemedicine_test .offer_section .offer_inner .offer_item a:hover{
    color: #0080B8;
    background-color: #FFFFFF;
}
@media (max-width: 1290.98px){
    .telemedicine_test .hero_section>.elementor-container:before{
    transform: translateX(-50%);
    margin-left: 120px;
 }
}
@media (max-width: 1024.98px){
    .telemedicine_test .hero_section>.elementor-container:before {
        width: 608px;
        height: 360px;
        right: inherit;
        left: 50%;
        transform: translateX(-50%);
        margin-left: -100px;
    }
    .telemedicine_test .section1 .elementor-widget-wrap{
        padding: 0 50px !important;
    }
    .telemedicine_test .hero_section h1{
        color: #fff;
    }
    .telemedicine_test .elementor-element.elementor-element-993c22f > .elementor-widget-container div{
        color: #fff !important;
    }
    .telemedicine_test .hero_section>.elementor-container:after{
        content: "";
        background: #0080b8;
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0.8;
        pointer-events: none;
    }
    body.telemedicine_test .hero_section{
        padding: 0 !important;
    }
    .telemedicine_test .section1 .elementor-element:nth-child(3) a{
        background-color: #1B9D2C !important;
        color: #fff !important;
    }
    body.telemedicine_test .section1 .elementor-element:nth-child(3) a:hover,
    body.telemedicine_test .section1 .elementor-element:nth-child(3) a:focus{
        color: #0080B8 !important;
        background-color: #FFFFFF !important;
    }
}
@media (max-width: 991.98px) {
    .telemedicine_test .offer_inner{
        justify-content: center;
    }
    .telemedicine_test .offer_section .offer_item:nth-child(1){
        width: 165PX;
        margin-right:15px;
    }
    .telemedicine_test .offer_section .offer_item:nth-child(3){
        margin-left:15px;
    }
    .telemedicine_test .offer_itemInner h2 {
        font-size: 33px;
        color: #fff;
    }
    .telemedicine_test .offer_inner .offer_item:nth-child(2) {
        max-width: 360px;
    }
}
@media (max-width: 767.98px) {
    .telemedicine_test .hero_section h1{
        font-size: 30px;
        font-weight: 500;
        line-height: 40px;
    }
    .telemedicine_test .section1 .elementor-widget-wrap{
        padding: 0 15px !important;
    }
    .telemedicine_test .elementor-element.elementor-element-993c22f > .elementor-widget-container div{
        font-weight: 500;
    }
    .telemedicine_test .works_section{
        border-radius: 12px;
        margin: 20px 0;
    }
    .telemedicine_test .works_section .works_item {
        display: flex;
    }
    .telemedicine_test .works_section .works_inner .works_span{
        text-align: start;
        margin: 0 0 0 20px;
    }
    .telemedicine_test .works_section .works_inner .elementor-row{
        max-width: 340px;
        margin: 0 auto;
    }
    .telemedicine_test .works_section .works_inner .elementor-row .elementor-element{
        margin-bottom: 30px;
    }
    .telemedicine_test .works_section .works_inner .works_span span{
        margin-bottom: 0;
    }
    .telemedicine_test .offer_section .offer_item:nth-child(1),
    .telemedicine_test .offer_inner .offer_item:nth-child(2) p{
        width: inherit;
        text-align: center;
    }
    .telemedicine_test .offer_inner .offer_item:nth-child(2){
        border: inherit;
        padding: inherit;
    }
    .telemedicine_test .offer_section .offer_item:nth-child(3){
        margin: 36px auto 0;
    }
    .telemedicine_test .offer_inner{
        display: inline-grid;
    }
    .telemedicine_test .works_section .works_inner .elementor-row .elementor-element:nth-child(1),
    .telemedicine_test .works_section .works_inner .elementor-row .elementor-element:nth-child(4){
        order: 1;
    }
    .telemedicine_test .elementor-element.elementor-element-1937dd83{
        padding: 50px 0 0;
    }

}
@media (max-width: 410.98px){
   .telemedicine_test .hero_section>.elementor-container:before {
        margin-left: -120px;
   }
}
@media (max-width: 368.98px){
    .telemedicine_test .hero_section>.elementor-container:before {
        width: 500px;
        height: 385px;
        margin-left: -95px;
    }
 }
@media (max-width: 359.98px){
    .telemedicine_test .works_section .works_inner img {
        max-width: 47px;
        height: 47px;
    }
    .telemedicine_test .works_section .works_item svg{
        width: 47px;
    }
    .telemedicine_test .hero_section h1 {
        padding: 0 10px;
        font-size: 26px;
    }
}




