@media (min-width: 1200px) {
    body header #nav-quote-desktop {
        display: flex;
        margin-left: 10px;
        margin-right: 0 !important;
    }
    
    .top-navigation .container {
        max-width: 1680px;
    }
}


@media (max-width: 1199px) {
    .mobile-call + a#nav-quote {
        display: block;
    }
}