.iv-HeroBullet #section-hero ul {
    width: 100%;
    max-width: 440px;
    text-align: left;
    list-style: disc;
    margin: 0 auto 30px;
}
.iv-HeroBullet #section-hero h1 + p {
    max-width: 700px;
}
.iv-HeroBullet #section-hero ul + a.gb-button  {
    padding: 9px 48px;
}
@media only screen and (min-width: 768px) {
    .iv-HeroBullet #section-hero ul li {
        font-size: 25px;
        line-height: normal;
    }
}
@media only screen and (max-width: 768px) {
    .iv-HeroBullet #section-hero ul {
        max-width: 300px;
    }
}