.iv-quote-sec {
    background-color: #F7C300;
    padding: 5px 0;
    box-sizing: border-box;
}
.iv-quote .stickyBottomFooterHidden {
    display: none;
}
.iv-quote-sec .iv-wrapper {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
}
.iv-quote-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 12px 30px;
}
.iv-quote-item {
    display: flex;
    align-items: center;
    gap: 10px;
}
.iv-quote-item .iv-icon {
    width: 100%;
    max-width: 45px;
}
.iv-quote-item p {
    font-weight: bold;
    font-size: 20px;
    margin: 8px 0 0 0;
    line-height: 1;
}
.iv-bottom-fixed {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 1;
    box-shadow: 0 -0.3rem 0.313rem 0 rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 991px) {
    .iv-quote-wrapper {
        justify-content: center;
        gap: 0px 10px;
    }
    .iv-quote-item .iv-icon {
        max-width: 40px;
    }
    .iv-quote-item p {
        font-size: 18px;
    }
}
@media screen and (max-width: 900px) {
    .avl-header .v2nav .avl-header__actions .avl-header__call {
        font-size: 16px;
    }
    .avl-header .v2nav .avl-header__actions .avl-header__call svg {
        width: 25px;
        height: 25px;
    }
    .avl-header .v2nav .avl-header__main-wrapper {
        padding: 0;
    }
    .avl-header .v2nav .avl-header__main-wrapper .avl-header__mobile-toggle-wrap {
        padding-right: 15px;
    }
    .avl-header .v2nav .avl-header__actions {
        padding: 10px 0;
    }
}
@media screen and (max-width: 767px) {
    .iv-quote-item .iv-icon {
        max-width: 30px;
    }
    .iv-quote-item p {
        font-size: 15px;
    }
    .iv-quote-item {
        gap: 5px;
    }
}
@media screen and (max-width: 380px) {
    .iv-quote-wrapper {
        gap: 0px;
    }
    .iv-quote-sec .iv-wrapper {
        padding: 0 3px;
    }
}


/* V2 */
.iv-quote-v2 .avl-header .v2nav {
    box-shadow: none;
}
.iv-quote-v2 header.avl-header.main-header {
    box-shadow: 0 .25rem .313rem 0 rgba(0, 0, 0, .25);
}
