.checkoutTrust .cart-summary__trust-iconography {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: inherit;
    background-color: #f6f6f6;
}
.checkoutTrust .cart-summary__trust-iconography .item_wrapper {
    width: 100%;
    max-width: 50%;
    text-align: center;
    margin-bottom: 30px;
} 
.checkoutTrust .cart-summary__trust-iconography .trust__icons {
    margin: 0 auto 10px;
} 