ul#menu-main> li:last-child,
#menu-sitemap li.current_page_parent  {
    display: none;
}
header.oxy-header {
    -webkit-transition: all 0.3s ease-in-out 0s;               
    transition: all 0.3s ease-in-out 0s;
}
header.stick {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}
header.stick > div:last-child .oxy-header-left img {
    width: 160px !important;
}
header .oxy-header-right > a:last-child {
    background-color: #ed8b00;
    border: 1px solid #ed8b00;
}
header .oxy-header-right > a:last-child:hover{
    border: 1px solid #fff;
}
header.stick #menu-main > li >  a {
    padding-top: 22px;
    padding-bottom: 22px;
}

@media (min-width: 1121px) {
    .oxy-header-right a#link-329-89 {
        display: none;
    }
}

@media (max-width: 1120.98px) {
    div#_header_left-328-89,
    .oxy-header-row + .oxy-header-row .oxy-header-center {
        display: none;
    }

    .oxy-header-row + .oxy-header-row .oxy-header-right {
        justify-content: space-between !important;
        width: 100%;
    }

    header #image-335-89 {
        max-width: 130px;
        width: 100%;
        margin: 0 20px;
    }

    header #link_text-337-89 {
        margin-left: 0 !important;
    }
}


@media (max-width: 479.98px) {
    header.oxy-header > div:last-child .oxy-header-container {
        flex-direction: row !important;
    }

    header > div:last-child .oxy-header-left img,
    header.stick > div:last-child .oxy-header-left img {
        width: 120px !important;
    }
    header #link_text-337-89 {
        font-size: 14px;
        padding-left: 12px !important;
        padding-right: 12px !important;
    }
    .oxy-header > div:last-child .oxy-burger-trigger .hamburger span span.hamburger-inner,
    .oxy-header > div:last-child .oxy-burger-trigger .hamburger span span.hamburger-inner::after,
    .oxy-header > div:last-child .oxy-burger-trigger .hamburger span span.hamburger-inner::before {
        height: 3px !important;
        width: 30px;
    }

    header #image-335-89 {
        max-width: 80px;
        margin: 0 10px;
    }

    header .hamburger-box {
        height: 16px;
        width: 20px;
    }

    header.oxy-header > div:last-child .oxy-burger-trigger .hamburger span span.hamburger-inner,
    header.oxy-header > div:last-child .oxy-burger-trigger .hamburger span span.hamburger-inner::after,
    header.oxy-header > div:last-child .oxy-burger-trigger .hamburger span span.hamburger-inner::before {
        width: 20px;
        height: 2px !important;
    }

    header .hamburger--slider .hamburger-inner:before {
        top: 7px;
    }
    
    header .hamburger--slider .hamburger-inner:after {
        top: 14px;
    }
}