.newsLetter_iv .rec-wrapper {
    width: 100% !important;
    max-width: 940px !important;
    margin: 0 auto !important;
}
.newsLetter_iv .archive-wrapper .container-fluid.outer {
    margin-bottom: 80px;
}
@media (min-width: 767.98px) and (max-width: 991.98px) {
    .newsLetter_iv form#gform_13 {
        display: block !important;
    }
    .newsLetter_iv input#gform_submit_button_13 {
        margin-top: 70px;
    }
    
}
@media (max-width: 768.98px) {
    .newsLetter_iv .archive-wrapper .container-fluid {
        padding: 0 15px;
    }
}