body .iv-continue-cta {
    font-size: 18px;
    font-family: sans-serif;
    height: auto;
    max-width: 250px;
    width: 100%;
    text-transform: inherit;
    letter-spacing: 0.5px;
    padding: 12px;
    margin: 20px auto 10px;
}
body .iv-continue-cta:hover {
    background-color: #f58024;
    color: #fff;
}
body .free-quote form fieldset input,
body .free-quote form fieldset select {
    color: #000;
}
body .free-quote .free-quote-form fieldset label {
    font-weight: 700;
}