.iv-form #gform_22 input.valid {
    padding-right: 35px;
  }
  .iv-form #gform_22 li > div > span, #gform_22 li .ginput_container {
    position: relative;
  }
  .iv-form #gform_22 .check-icon {
    display: none;
    position: absolute;
    right: 11px;
    width: auto !important;
    top: 12px;
    pointer-events: none;
  }
  .iv-form #gform_22 li > div > span .check-icon {
    top: 38px;
  }
  .iv-form #gform_22 input.valid + .check-icon {
    display: block;
  }
  .iv-form #gform_22 .check-icon svg {
    width: 20px;
    height: 20px;
  }
  .iv-form #gform_22 input:-webkit-autofill,
  .iv-form #gform_22 input:-webkit-autofill:hover, 
  .iv-form #gform_22 input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 0 transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  }