.topBar_iv .announcement-bar .small-promo .small-promo-text-mobile {
    display: none;
}
.topBar_iv #shopify-section-static-announcement {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 700;
}
.topBar_iv.site-header-sticky .site-header {
    top: 33px !important;
    position: sticky !important;
}


.topBar_iv #contactForm > .form-group.floatl.text-area {
    display: block !important;
    max-width: 100%;
}
#shopify-section-static-announcement .announcement-bar-text,
#shopify-section-static-announcement .small-promo {
    pointer-events: none;
}

.site-header-nav--open.site-header-sticky--scrolled .container-fluid {
    display: none;
}

@media (max-width: 991.98px) {
    .topBar_iv.site-header-sticky .site-header {
        top: 88px !important;
    }
}
@media (max-width: 767.98px) {
    .topBar_iv.site-header-sticky .site-header {
        top: 38px !important;
    }
    .topBar_iv #shopify-section-static-announcement {
        top: -34px;
    }
    #shopify-section-static-announcement .announcement-bar-text {
        padding: 5px 0;
    }
    .topBar_iv.site-header-sticky .site-header .live-search {
        margin-top: 4px;
    }
    .topBar_iv.site-header-sticky .site-header .phns {
        margin-top: 0;
    }
    .topBar_iv.site-header-sticky .site-header .site-header-main {
        padding-top: 0px;
    }
}
@media (max-width: 479.98px) {
    .topBar_iv #shopify-section-static-announcement {
        top: -44px;
    }
}
@media (max-width: 341.98px) {
    .topBar_iv #shopify-section-static-announcement {
        top: -57px;
    }
}