h1.hero_main_title {
    line-height: normal;
    color: #fff;
    font-weight: bold;
    max-width: 1050px;
    padding: 0 15px;
    margin: 0 auto;
}

h1.hero_main_title sup {
    font-size: 50%;
    margin-left: -5px;
}

h1.hero_subtitle {
    max-width: 750px;
    margin: 25px auto 40px;
}

.hero_description {
    display: none;
}

/* Different CSS */
.backonthebeat_hero_v1 h1.hero_main_title {
    font-size: 75px;
}

.backonthebeat_hero_v2 h1.hero_main_title {
    font-size: 105px;
}
/* Different CSS over */

.hs-cta-wrapper a span {
    font-size: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hs-cta-wrapper a span:before {
    content: 'Grab My Deal';
    font-size: 19px;
    line-height: normal;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .backonthebeat_hero_v1 h1.hero_main_title {
        font-size: 55px;
    }
}


@media (max-width: 767.98px) {
    h1.hero_main_title {
        padding: 0 10px;
    }

    .backonthebeat_hero_v1 h1.hero_main_title {
        font-size: 36px;
    }

    .backonthebeat_hero_v2 h1.hero_main_title {
        font-size: 55px;
    }

    h1.hero_subtitle {
        font-size: 30px !important;
    }
}