.homepage_iv .slider_section,
.homepage_iv .mostPopular  {
    padding: 82px 0;
    background-color: #ffffff;
}
.homepage_iv .sliderWrapper {
    width: 100%;
    margin: 0 auto;
}
.homepage_iv .slider .slide {
    text-align: center;
    padding: 10px;
}
.homepage_iv .slider .slide img {
    width: 100%;
    max-width: 226px;
    border-radius: 8px;
    margin: 0 auto;
}
.homepage_iv .slider .slide p {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}
.homepage_iv .collectionSlider .slide h3 {
    color: #000;
    font-family: Montserrat;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.65px;
    text-transform: uppercase;
}
.homepage_iv .btn-wrapper {
    padding-top: 62px;
}