/* Variant 1 */
body .pss-navigation-tabs .nav-tabs>li>a.active {
    color: #fff !important;
    background-color: #0a1f8f;
    border-style: solid;
    border-width: 3px 3px 0 3px;
    border-color: #dee2e6;
}

/* Variant 2 */
body .pss-navigation-tabs .nav-tabs>li>a {
    border: 1px solid #747474;
    margin-right: 1px;
}
body .pss-navigation-tabs .nav-tabs>li>a:hover {
    border: 1px solid #0a1f8f;
    background-color: rgba(10, 31, 143, .07);
    color: #0a1f8f !important;
}
body .pss-navigation-tabs .nav-tabs>li>a.active {
    border: 1px solid #0a1f8f;
    background-color: rgba(10, 31, 143, .07);
    color: #0a1f8f !important;
}