.button.dark-button-outline {
    --initial-gradient: linear-gradient(transparent, transparent);
    border: 1px solid rgba(41, 41, 41, 1);
    color: rgba(41, 41, 41, 1);
}
@media screen and (pointer: fine) and (prefers-reduced-motion: no-preference) {
	.features--button-transition :is(.button.dark-button-outline,.shopify-challenge__button,
	.shopify-payment-button__button--unbranded):not([disabled]):hover {
        --initial-gradient: linear-gradient(rgb(var(--button-background)), rgb(var(--button-background)));
		border-color: rgb(var(--button-outline-color, var(--button-background)));
	}
}

.dark-button-outline .header-sidebar__linklist-button {
    padding: 0 !important;
    justify-content: center;
}

@media (max-width: 999px) {
    .header-sidebar__linklist .dark-button-outline {
        margin-top: 10px;
    }
    .dark-button-outline {
		width: 100%;
	}
}

@media (max-width: 767px) {
    .header-sidebar__linklist .dark-button-outline {
        padding: 10px;
    }
}