.formIV section.hero-title-section {
    display: none;
}

.formIV section.cta-sm-section {
    padding: 80px 0 !important;
}

.formIV section.cta-sm-section .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.formIV section.cta-sm-section .container>* {
    max-width: 48%;
    width: 100%;
}

.formIV section.cta-sm-section .eyeBroText {
    text-align: left;
    color: #0f4068;
    font-weight: 800;
    text-transform: uppercase;
}

.formIV section.cta-sm-section .pageTitle {
    font-size: 36px;
    text-align: left;
}

.formIV section.cta-sm-section .rightContent h3 {
    display: none;
}

.formIV form#mktoForm_1438 {
    width: 100% !important;
    padding: 10px 30px 30px;
    background-color: #efefef;
}

.formIV form#mktoForm_1438 label.mktoLabel {
    font-family: "Mont", "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-size: 17px;
    line-height: normal;
    font-weight: normal;
    width: auto !important;
    padding-bottom: 5px;
}

.formIV form#mktoForm_1438 label.mktoLabel[for="Email_Opt_In__c"] {
    max-width: calc(100% - 30px);
}

.formIV form#mktoForm_1438 .mktoFormCol,
.formIV form#mktoForm_1438 .mktoFieldWrap,
.formIV form#mktoForm_1438 .mktoFormRow .mktoField {
    width: 100% !important;
}

.formIV form#mktoForm_1438 .mktoFormRow .mktoField {
    font-family: "Mont", "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    background-color: #ffffffde;
}

.formIV form#mktoForm_1438 .mktoFormRow #LblService_Regions__c~.mktoCheckboxList {
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
    clear: both;
    margin-top: 10px;
}

.formIV form#mktoForm_1438 .mktoFormRow #LblService_Regions__c~.mktoCheckboxList label {
    margin-left: 7px;
    margin-right: 0;
    width: calc(50% - 30px);
    margin-bottom: 15px;
}

.formIV form#mktoForm_1438 .mktoFormRow #LblService_Regions__c~.mktoCheckboxList input {
    width: 20px !important;
}

.formIV form#mktoForm_1438 .mktoButtonWrap {
    margin: 0 !important;
}

.formIV form#mktoForm_1438 .mktoButtonWrap .mktoButton {
    font-family: "Mont", "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    padding: 15px 15px 10px !important;
    margin: 20px auto 0 !important;
}

.formIV .testimonialLogoWrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.formIV .testimonialLogoWrap img {
    max-width: 18%;
    width: 100%;
    height: 90px;
    object-fit: contain;
    margin: 10px 0;
}

.formIV .logoSection h5 {
    text-align: center;
    margin-bottom: 30px;
}

.formIV .logoSection .clientLogoWrap {
    display: flex;
    list-style: none;
    justify-content: space-between;
    text-align: center;
    align-items: flex-start;
    margin: 0;
    padding: 0 0 100px;
}

.formIV .logoSection .clientLogoWrap li {
    max-width: 20%;
    width: 100%;
}

.formIV .logoSection .clientLogoWrap li .imgWrapper {
    min-height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.formIV .logoSection .clientLogoWrap li img {
    max-width: 130px;
    width: 100%;
}

.formIV .logoSection .clientLogoWrap li p {
    font-size: 14px;
}

.formIV .logoSection .clientLogoWrap li p strong {
    display: block;
}

.formIV section.cta-sm-section .testimonialLogoWrapper h6 {
    font-size: 18px;
    text-align: center;
}

.formIV .testimonialLogoWrapper {
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (max-width: 1023.98px) {
    .formIV section.cta-sm-section .container>* {
        max-width: 100%;
    }

    .formIV section.cta-sm-section .testimonialLogoWrapper h6 {
        margin-bottom: 20px;
    }

    .formIV section.cta-sm-section .eyeBroText {
        text-align: center;
    }

    .formIV section.cta-sm-section .pageTitle {
        text-align: center;
    }

    .formIV section.cta-sm-section {
        padding: 40px 0 !important;
    }

    .formIV .logoSection .clientLogoWrap li {
        max-width: 50%;
    }

    .formIV .logoSection .clientLogoWrap {
        flex-wrap: wrap;
        justify-content: center;
    }

    .formIV .logoSection .clientLogoWrap li p {
        font-size: 18px;
    }

    .formIV .logoSection .clientLogoWrap li p {
        font-size: 14px;
    }

    .formIV .testimonialLogoWrap {
        display: flex;
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        flex-wrap: nowrap;
        margin: 0 -20px;
    }

    .formIV .testimonialLogoWrap::-webkit-scrollbar {
        display: none;
    }

    .formIV .testimonialLogoWrap img {
        flex: 0 0 auto;
        width: 180px;
        height: 90px;
        object-fit: contain;
        margin: 0 20px;
    }

    .testimonialLogoWrap.hover-enabled {
        pointer-events: auto;
    }
}

@media (max-width: 767.98px) {
    .formIV section.cta-sm-section .pageTitle {
        font-size: 25px;
    }

    .formIV .logoSection .clientLogoWrap li {
        max-width: calc(33% - 6px);
    }

    .formIV .logoSection .clientLogoWrap {
        gap: 10px;
    }

    .formIV section.cta-sm-section .testimonialLogoWrapper h6 {
        font-size: 17px;
    }

    .formIV .logoSection .clientLogoWrap li p strong {
        font-size: 12px;
        line-height: normal;
    }

    .formIV .logoSection .clientLogoWrap li p {
        font-size: 11px;
    }

    .formIV .logoSection .clientLogoWrap li img {
        max-width: 110px;
    }

    .formIV .logoSection .clientLogoWrap li .imgWrapper {
        margin-bottom: 10px;
    }

    /* form */
    .formIV form#mktoForm_1438 {
        padding: 20px;
    }

    .formIV form#mktoForm_1438 label.mktoLabel {
        font-size: 14px;
        padding-bottom: 3px;
    }

    .formIV form#mktoForm_1438 .mktoFormRow .mktoField {
        font-size: 16px !important;
    }

    .formIV form#mktoForm_1438 .mktoFormRow textarea.mktoField {
        height: 70px !important;
    }

    .formIV form#mktoForm_1438 .mktoButtonRow {
        max-width: 260px;
    }

    .formIV form#mktoForm_1438 .mktoButtonWrap .mktoButton {
        font-size: 16px !important;
        padding: 10px 15px 10px !important;
    }
}

@media (max-width: 575.98px) {
    .formIV .testimonialLogoWrap img {
        flex: 0 0 100px;
        width: 100px;
        height: 60px;
    }

    .formIV .testimonialLogoWrap img {
        margin: 0 15px;
    }

    .formIV .logoSection h5 {
        margin-bottom: 25px;
    }
}