.iv-learn-content {
  text-align: center;
  margin: 0 0 0 auto;
}

.iv-learn-content a {
  color: #38539a;
}

.iv-learn-content p {
  margin-bottom: 8px;
}

.iv-popup .amw-panel .AddToCart-ShareAction {
  display: block !important;
}

.iv-popup .amw-panel .AddToCart-ShareAction .amw-button {
  margin-left: 12px;
  margin-right: 12px;
}

.iv-popup .amw-panel {
  flex-wrap: wrap;
}

.iv-popup .iv-learn-content {
  max-width: 100%;
  margin-left: 0 !important;
  width: 100%;
  display: block;
  padding-left: 0;
  margin-top: 20px;
  text-align: left;
}

.iv-popup .iv-learn-content p,
.iv-popup .iv-learn-content strong {
  display: inline;
}

.iv-popup .iv-learn-content a{
	  margin-left: 15px;
}

.iv-popup .iv-learn-content a  {
	     text-wrap: nowrap;
	}


/* Popup */
.guarantee-popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 9999999;
  display: none;
}

.guarantee-popup-inner {
  width: 100%;
  height: 100%;
  display: table;
}

.guarantee-popup-container {
  display: table-cell;
  vertical-align: middle;
  padding: 0 16px;
}

.guarantee-popup-content {
  width: 100%;
  max-width: 700px;
  margin: 60px auto;
  background: #fff;
  box-shadow: 2px 3px 40px rgb(0 0 0 / 40%);
}

.guarantee-popup-title {
  padding: 40px 20px;
  position: relative;
}

.guarantee-popup-title h2 {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 35px;
}

.guarantee-popup-title strong {
  line-height: 28px;
  margin-bottom: 30px;
  display: block;
}

.guarantee-popup-title ul {
  list-style-position: outside;
  padding-left: 30px;
}

.guarantee-popup-title ul li {
  line-height: 28px;
}

.guarantee-popup-closed {
  position: absolute;
  right: 15px;
  top: 15px;
}

@media only screen and (max-width: 1080px) {
  .iv-learn-content {
    width: auto;
    max-width: max-content;
    padding-left: 10px;
  }

  .iv-popup #addToCartForm button[test-id="add-to-cart-button"] {
    min-width: 127px;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}

@media (max-width: 975px) and (min-width: 768px) {
  .iv-learn-content p {
    margin-bottom: 6px;
    font-size: 12px;
    line-height: normal;
  }

  .iv-popup
    .amw-quantity-box__navigation-wrapper
    button.js-qty-box-btn-decrease {
    padding: 0 6px 0 18px !important;
  }

  .iv-popup
    .amw-quantity-box__navigation-wrapper
    button.js-qty-box-btn-increase {
    padding: 0 18px 0 6px !important;
  }
}
@media only screen and (max-width: 975.98px) {
  .iv-popup .amw-panel {
    justify-content: center;
  }
  .iv-popup .amw-panel .iv-learn-content {
    margin-left: 0;
  }
}
@media only screen and (max-width: 767px) {
  .guarantee-popup-title h2,
  .guarantee-popup-title strong {
    margin-bottom: 15px;
  }

  .guarantee-popup-title strong,
  .guarantee-popup-title ul li {
    line-height: 22px;
  }

  .iv-popup .amw-panel .AddToCart-ShareAction {
    display: none !important;
  }

  .iv-popup .amw-panel {
    flex-wrap: wrap;
  }

  .iv-popup .iv-learn-content {
    max-width: 100%;
    margin-left: 0;
    width: 100%;
    padding-left: 0;
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .iv-popup .iv-learn-content p br,	.iv-popup .iv-learn-content p{ 
	  display: block !important;
	}
	.iv-popup .iv-learn-content a {
    margin-left: 0;
}
	
	.iv-popup .iv-learn-content strong  {
	     text-wrap: nowrap;
	}
  .iv-popup #addToCartForm button[test-id="add-to-cart-button"] {
    min-width: 168px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 480px) {
  .iv-learn-content p {
    margin-bottom: 6px;
    font-size: 16px;
    line-height: normal;
  }
}
