.moving-from-to {
    margin: auto 0;
}
.moving-from-to .slide-overlay {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    margin: auto;
    max-width: 800px;
    padding: 25px;
}
.moving-from-to .slide-header > h1 {
    line-height: 1.2;
    margin-bottom: 10px;
}
.moving-from-to .slide-header > h2 {
    line-height: 1.2;
    margin: 0;
}
.moving-from-to .slide-header ul {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    margin: 25px auto;
    max-width: 520px;
}
.moving-from-to .slide-header ul li {
    margin-bottom: 10px;
}
.moving-from-to .inner-container {
    flex-wrap: wrap;
    margin: auto;
    max-width: 650px;
}
.moving-from-to .slide-footer .head2 {
    font-size: 20px;
    margin: 25px 0 5px;
}
.moving-from-to button.btn {
    padding: .625rem 2.563rem .313rem;
    border-radius: .5rem;
}
@media (max-width: 599px) {
    .moving-from-to {
        padding: 0 20px;
    }
    .moving-from-to .slide-overlay {
        padding: 15px;
    }
    .moving-from-to button.btn {
        margin-top: 0.3em;
    }
    .moving-from-to .slide-footer .head2 {
        margin-bottom: 10px;
    }
}