.heroBullet-iv .heroHeaderWrapper {
    background-color: rgba(77, 77, 79, 0.7);
    padding: 20px;
    text-align: center;
    color: #fff;
    width: 100%;
    max-width: 1000px;
}
.heroBullet-iv .heroHeaderWrapper h1#headline-7-19 {
    font-size: 45px;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    margin-bottom: 16px;
}
.heroBullet-iv .heroHeaderWrapper ul {
    text-align: left;
    display: inline-block;
    padding: 0;
}

.heroBullet-iv .heroHeaderWrapper  ul li::marker {
    color: #fedb00;
}
@media(max-width: 991.98px) { 
    .heroBullet-iv .heroHeaderWrapper h1#headline-7-19 {
        font-size: 52px;
    }
}
@media(min-width: 768px) { 
    .heroBullet-iv .heroHeaderWrapper ul li {
        font-size: 25px;
    }
}
@media(max-width: 767.98px) {   
    .heroBullet-iv .heroHeaderWrapper {
        padding: 14px;
    }
    .heroBullet-iv .heroHeaderWrapper h1#headline-7-19 {
        font-size: 28px;
        padding: 0;
    }
    .heroBullet-iv .heroHeaderWrapper h1#headline-7-19 br{
        display: none;
    }
    .heroBullet-iv .heroHeaderWrapper ul {
        padding-left: 18px;
    }
}