.iv_fitness .font_red {
	color: #FF001B;
}
.iv_fitness .fancybox-inner #free-fitness-consultation .form form .gform_fields label {
	display: none;
}
.iv_fitness .fancybox-inner #free-fitness-consultation .form form .gform_fields #field_8_1,
.iv_fitness .fancybox-inner #free-fitness-consultation .form form .gform_fields #field_8_6 {
	width: 50%;
	display: inline-block;
}
.iv_fitness .fancybox-inner #free-fitness-consultation .form form .gform_fields li input::placeholder {
	color: #000;
	font-weight: 700;
	padding-left: 10px;
}
.iv_fitness .fancybox-inner #free-fitness-consultation .form form .gform_fields .center {
	text-align: start;
	margin-top: 20px;
}
.iv_fitness .fancybox-inner #free-fitness-consultation .form form .gform_footer::after {
  content: "no credit card required";
  display: block;
  max-width: 254px;
  width: 100%;
  text-align: center;
  font-size: 12px;
}