.reviewStar_iv .js-query-result-item .amw-panel {
    padding-bottom: 15px;
    padding-top: 15px;
    overflow: hidden;
}
.reviewStar_iv button + #mobileWrapper  {
    display: none !important;
}
.productDetailsPageRightPanelSlot-component .yotpo-widget-instance {
        padding-left: 15px;
}
@media (max-width: 1181.98px) {
    .reviewStar_iv .js-query-result-item .amw-panel {
        flex-wrap: wrap;
    }
}

@media (max-width: 1024.98px) {
    .reviewStar_iv #mobileWrapper {
        flex-direction: row-reverse;
    }
}
@media (max-width: 767.98px) {
    .reviewStar_iv .js-query-result-item .amw-panel {
        justify-content: center;
    }
    .reviewStar_iv #mobileWrapper {
        display: flex;
        flex-direction: row-reverse;
    }
    .reviewStar_iv #mobileWrapper button {
        padding-left: 0;
    }
}