.iv-home-hero #main-heading::before,
.iv-home-hero #main-heading::after {
    display: none;
}
.iv-home-hero #main-heading .elementor-widget:not(:last-child) {
    margin-bottom: 0;
}
.iv-home-hero #main-heading .elementor-widget-wrap {
    flex-direction: column-reverse;
}
.iv-home-hero #main-heading h3.elementor-heading-title {
    font-size: 58px;
    line-height: 1.3;
    margin-bottom: 15px;
    text-transform: none;
}
.iv-home-hero #main-heading span.elementor-heading-title {
    display: block;
    line-height: 1.3;
    text-transform: none;
}
@media (max-width: 1024.98px) {
    .iv-home-hero #main-heading h3.elementor-heading-title {
        font-size: 46px;
    }
    .iv-home-hero #main-heading span.elementor-heading-title {
        font-size: 24px;
    }
}
@media (max-width: 767.98px) {
    .iv-home-hero #main-heading {
        padding-left: 0;
        padding-right: 0;
    }
    .iv-home-hero #main-heading .elementor-widget-wrap {
        text-align: center;
    }
    .iv-home-hero #main-heading h3.elementor-heading-title {
        font-size: 26px;
        line-height: 1.4;
    }
    .iv-home-hero #main-heading span.elementor-heading-title {
        font-size: 16px;
        line-height: 1.4;
        padding: 0 10%;
    }
}