@media(min-width: 768px) {
    .iv-navigation .nav-links {
        display: none;
    }
}
@media(max-width: 767.98px) {
    .iv-navigation .nav-links {
        background-color: #fff;
        text-align: center;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 16px 0;
    }
    .iv-navigation .nav-links ul {
        display: flex;
        justify-content: center;
        gap: 30px;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .iv-navigation .nav-links ul li {
        padding: 0;
    }
    .iv-navigation .nav-links a {
        text-decoration: none;
        font-size: 14px;
        font-weight: 500;
    }
    .iv-navigation .nav-links a:hover {
        text-decoration: underline;
    }
    .iv-navigation header {
        padding: 0;
    }
    .iv-navigation header .header {
        background: #fff;
        color: #000;
    }
}