.bar_iv .top-bar {
    background-color: #151f6d;
    color: #fff;
    font-size: 15px;
    line-height: 22px;
    padding: 7px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
}
.bar_iv .top-bar a {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    white-space: nowrap;
}
.bar_iv .top-bar a:hover {
    color: #ffffff73;
}
.bar_iv .top-bar .long-arrow-right {
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    display: inline-block;
    margin: auto;
    margin-left: 15px;
    transform: rotate(135deg);
    height: 7px;
    width: 7px;
}
.bar_iv .top-bar .long-arrow-right::after {
    background-color: #ffffff;
    content: "";
    display: block;
    transform: rotate(-45deg) translate(5px, 2px);
    height: 16px;
    width: 1px;
}
.bar_iv .header-cc {
    top: 36px;
}

@media (max-width: 959.98px) {
    .bar_iv .header-cc {
        top: 58px !important;
    }
}
@media (max-width: 518.98px) {
    .bar_iv .header-cc {
        top: 80px !important;
    }
}
@media (max-width: 346.98px) {
    .bar_iv .header-cc {
        top: 102px !important;
    }
}