.iv-popup .number-wrapper {
    background-color: #fff;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 24px;
    border-radius: 16px;
    margin-bottom: 40px;
}
.iv-popup .number-wrapper p {
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}
.iv-popup .number-wrapper p a {
    text-decoration: none !important;
}
.iv-popup .number-wrapper p span {
    color: #ff4a00;
}
.iv-popup #form .fusion-title.fusion-title-3{
    display: none;
}

/* Pop up css */
.iv-form-popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 9999999;
    background: rgba(0, 0, 0, 0.50);
    display: none;
}

.iv-form-popup-inner {
    width: 100%;
    height: 100%;
    display: table;
}

.iv-form-popup-container {
    display: table-cell;
    vertical-align: middle;
    padding: 0 16px;
}

.iv-form-popup-content {
    width: 100%;
    max-width: 570px;
    margin: 60px auto;
    background: #FFF;
    padding: 50px;
    border-radius: 15px;
    position: relative;
}
.iv-form-popup-form .gform_wrapper {
    margin-bottom: 0;
}
.iv-form-popup-title {
    position: absolute;
    top: 20px;
    right: 50px;
}
.iv-form-popup-title a svg {
    height: 20px;
    width: 20px;
}
.iv-form-popup-title a svg path {
    fill: #ff4a00;
}
.iv-form-popup-title a:hover svg path{
    fill: black;
}
.iv-form-popup-form .gform_footer.top_label {
    justify-content: flex-start !important;
    padding-bottom: 0;
}
.iv-popup .gform_wrapper .gfield input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), 
.iv-popup .gform_wrapper .gfield_select {
    border-color: #dddddd;
    background-color: #F2F2F2 !important;
}
.iv-popup .gform_wrapper.gravity-theme .gfield_description {
    padding: 0px 10px;
}
.iv-popup-open {
    overflow: hidden;
}


/* Buttons css */
.iv-buttons{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.iv-button{
    padding: 10px 20px;
    width: 100%;
    max-width: 140px;
    display: inline-block;
    text-decoration: none !important;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    transition: .3s;
}
.iv-button-orange{
    background-color: #ff4a00;
	color: #fff;
}
.iv-button-orange:hover{
    background-color: #fff;
    color: #ff4a00;
}
.iv-button-white{
    background-color: #fff;
    color: #ff4a00;
}
.iv-button-white:hover{
	color: #fff;	
	background-color: #ff4a00;
}

@media screen and (max-width: 640px) {
    .iv-popup .landing-header a.fusion-button{
        display: none;
    }
    .iv-form-popup-title {
        right: 30px;
    }
    .iv-form-popup-content{
        padding: 30px;
    }
    .iv-popup .number-wrapper{
        margin-bottom: 20px;
    }
}

/* captions page */

.iv-popup-captions .iv-buttons{
    justify-content: center;
}
.iv-popup-captions .iv-form-popup-form div#hero-form {
    padding: 0;
}
.iv-popup-captions #hero-form .gform_fields .gfield input {
    padding: 10px 20px !important;
    border: 1px solid #cecece;
}
.iv-popup-captions #hero-form .gform_wrapper .gfield_description#gfield_description_1_13 {
    color: #000;
}

@media screen and (max-width: 767px) {
    .iv-popup-captions .promo-main.hero_bannerBtn .phone_number a {
        display: none;
    }
}