.iv-check-points .iv-check-list {
    flex-wrap: wrap !important;
    max-width: 100% !important;
    justify-content: space-between;
    border-bottom: 1px solid #b5b5b5;
    flex-direction: column !important;
    position: relative;
    list-style: none;
    margin: 0 0 10px;
    padding-left: 50px;
}
.iv-check-points .iv-check-list li {
    font-size: 18px;
    letter-spacing: normal;
    line-height: normal;
    padding-bottom: 8px;
}
.iv-check-points .iv-check-list li::before {
    content: "";
    background-image: url('https://res.cloudinary.com/ignite-visibility/image/upload/v1729683935/amway/Check-green.png');
    position: absolute;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: -32px;
}