.iv-container {
    max-width: 1240px;
}
.iv-slider-sec {
    background: #fff;
    padding: 70px 0;
}
.iv-slider {
    padding: 0 50px;
}
.iv-slider-sec [aria-label="Previous"] {
    left: -25px;
    margin: 0 !important;
    width: auto !important;
    height: auto!important;
}
.iv-slider-sec [aria-label="Previous"] [class*='ArrowControl'],
.iv-slider-sec [aria-label="Next"] [class*='ArrowControl'] {
    width: auto !important;
    height: auto!important;
}
.iv-slider-sec [aria-label="Next"] {
    right: -25px;
    margin: 0 !important;
    width: auto !important;
    height: auto !important;
}
.iv-slider-sec [class*='BulletsControl__BulletsControlItem'] {
    transform: scale(1);
}
.dv-home-slider-wrapper + .iv-slider-sec {
    display: none;
}
.book-free-btn {
    text-transform: none;
}
@media (max-width:991.98px) {
    .iv-slider-sec {
        background: #fff;
        padding: 40px 0;
    }
}
@media (max-width:767.98px) {
    .iv-slider {
        padding: 0 15px;
    }
    .iv-slider-sec [aria-label="Previous"] {
        left: -15px;
    }
    .iv-slider-sec [aria-label="Next"] {
        right: -15px;
    }
    .dv-home-slider-wrapper + .iv-slider-sec {
        display: block;
    }
    .dv-home-boxes + .iv-slider-sec {
        display: none;
    }
}