.best_company .container {
    max-width: 100%;
    width: 100%;
}
.best_company .container:after {
    display: none;
}
.company_item {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 20px;
    margin-bottom: 50px;
}
.company_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #002347;
    border-radius: 20px 20px 0px 0px;
    padding: 10px 90px;
    color: #ffffff;
    width: 100%;
}
.company_header h3 a {
    color: #ffffff;
    font-weight: 600;
}
.count_block {
    box-shadow: 0px 3px 50px #dcdcdc29;
    border: 1px solid #F5F5F5;
    display: inline-block;
    padding: 7px 8px;
    border-radius: 36px;
    font-weight: 600;
}
.logo_wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo_wrapper img {
    width: 158px;
}
.read_more_link {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}