/*remove section*/
#video_section{
    display: none;
}
/*header*/
.teledirect_test.home .site-header{
    background-color: #fff;
}
.teledirect_test.home .hero_section {
    padding-top: 124px;
}
/*end header*/

/*hero section*/
.teledirect_test .hero_section .container {
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 30px;
}
.teledirect_test .hero_section .hero_inn_box {
    display: -webkit-box;     
    display: -moz-box;        
    display: -ms-flexbox;      
    display: -webkit-flex; 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: relative;
}
.teledirect_test .hero_section .hero_inn_box .left_box {
    width: -moz-calc(100% - 380px);
    width: -webkit-calc(100% - 380px);
    width: calc(100% - 380px);
    z-index: 1;
}
.teledirect_test .hero_section .hero_inn_box .right_box {
    width: auto;
    position: absolute;
    right: 0;
    bottom: -5px;
    left: auto;
    top: auto;
}
.teledirect_test .hero_section .hero_inn_box .content_box {
    padding-top: 30px;
    padding-bottom: 15%;
    padding-left: 20px;
    padding-right: 20px;
}
.teledirect_test .hero_section .hero_inn_box .content_box h6 {
    color: #0e76bc;
    font-family: 'Open Sans',sans-serif;
    font-size: 18px;
    margin-bottom: 8px;
    letter-spacing: 1.5px;
}
.teledirect_test .hero_section .hero_inn_box .content_box h1 {
    background: none;
    color: #3a3c41;
    padding-bottom: 0;
    width: 100%;
    max-width: 880px;
}
.teledirect_test .hero_section .hero_inn_box .content_box p {
    color: #3a3c41;
    font-size: 21px;
    max-width: 600px;
    line-height: 30px;
}
.teledirect_test .hero_section .hero_inn_box .btn-box .orange {
    width: 100%;
    padding: 13px 16px;
    max-width: 200px;
    font-size: 15px;
    letter-spacing: 2px;
}
@media (max-width: 1179px){
    .teledirect_test.home .hero_section {
        padding-top: 98px;
    }
    .teledirect_test .hero_section .hero_inn_box .right_box {
        height: 457px;
    }
}
@media (max-width: 980px){
    .teledirect_test.home .hero_section {
        padding-top: 137px;
    }
    .teledirect_test .hero_section .hero_inn_box .content_box{
        padding-left: 0px;
    }
    .teledirect_test .hero_section .hero_inn_box .left_box {
        width: -moz-calc(100% - 300px);
        width: -webkit-calc(100% - 300px);
        width: calc(100% - 300px);
    }
    .teledirect_test .hero_section .hero_inn_box .right_box {
        width: 300px;
        height: 350px;
    }
    .teledirect_test .hero_section .hero_inn_box .content_box h1 {
        font-size: 29px;
    }
    .teledirect_test .hero_section .hero_inn_box .content_box h6 {
        font-size: 16px;
    }
    .teledirect_test .hero_section .hero_inn_box .content_box p{
        font-size: 16px;
        line-height: 20px;
    }
    
}
@media (max-width: 730px){
    .teledirect_test .site-container {
        overflow-x: hidden;
    }
    .teledirect_test.home .hero_section {
        padding-top: 0;
    }
    .teledirect_test .hero_section .container {
        max-width: 100%;
        padding: 0 20px;
    }
    .teledirect_test .hero_section .hero_inn_box .right_box {
        width: 200px;
        height: auto;
       bottom: -5px;
    }
    .teledirect_test .hero_section .hero_inn_box .left_box {
        width: -moz-calc(100% - 20%);
        width: -webkit-calc(100% - 20%);
        width: calc(100% - 20%);
    }
    .teledirect_test .hero_section .hero_inn_box .content_box{
        padding-right: 0;
        padding-bottom: 0;
    }
    .teledirect_test .hero_section .hero_inn_box .content_box p {
        width: 100%;
        width: -moz-calc(100% - 20%);
        width: -webkit-calc(100% - 20%);
        max-width: calc(100% - 20%);
    }
    .teledirect_test .hero_section .hero_inn_box .content_box h1 {
        width: calc(100% - 15%);
        max-width: 100%;
        font-size: 21px;
    }
    .teledirect_test .hero_section .hero_inn_box .btn-box {
        margin-bottom: 44px;
    }
    .teledirect_test .hero_section .hero_inn_box .btn-box .orange {
        font-size: 12px;
        max-width: 150px;
    }
}
/*end hero section*/