/* Variant 1 */
.pss-unit-list__collapse-container a[href="#holdNow"] {
    background-color: #ea101f;
}



/* Variant 2 */
.pss-unit-list__collapse-container a[href="#holdNow"] {
    min-width: 150px;
    font-size: 0;
    padding-left: 10px;
    padding-right: 10px;
}
.pss-unit-list__collapse-container a[href="#holdNow"]:before {
    content: 'Reserve Unit';
    font-size: .875rem;
}


/* Variant 3 */
.pss-unit-list__collapse-container a[href="#holdNow"] {
    font-size: 0;
    background-color: #ea101f;
    min-width: 150px;
    padding-left: 10px;
    padding-right: 10px;
}
.pss-unit-list__collapse-container a[href="#holdNow"]:before {
    content: 'Reserve Unit';
    font-size: .875rem;
}