.cart_iv #cartform .cart-list table .inside-list-title {
    font-weight: 700;
    padding-bottom: 10px;
    color: #222222;
}
.cart_iv #cartform .cart-list table ul {
    padding-left: 40px;
}
.cart_iv #cartform .cart-list table li {
    list-style-type: none;
    position: relative;
    overflow: visible;
    border-bottom: none;
    list-style: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
.cart_iv #cartform .cart-list table li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 12px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    margin-left: -20px;
}
@media (max-width: 767px) {
    .cart_iv #cartform .cart-list table ul {
        padding-left: 30px;
    }
    .cart_iv #cartform .cart-list table li {
        top: 6px;
    }
    .cart_iv .what-inside-section {
        width: 136%;
    }
    .cart_iv #cartform .cart-list table .inside-list-title {
        cursor: pointer;
        padding-top: 10px;
        padding-right: 20px;
        position: relative;
    }
    .cart_iv #cartform .cart-list table .inside-list-title::after {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/></svg>');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%) rotate(0deg);
        transition: all 0.3s ease-in-out;
        height: 16px;
        width: 16px;
    }
    .cart_iv #cartform .cart-list table .what-inside-list.active > .inside-list-title::after {
        transform: translateY(-50%) rotate(180deg);
    }
    .cart_iv .inside-list-wrap {
        display: none;
    }
    .cart_iv .what-inside-list.active > .inside-list-wrap {
        display: block;
    }
}