#currentUsersWrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 14px;
    color: red;
    margin-top: 10px;
    margin-bottom: -10px;
}

#currentUsersWrapper img {
    max-width: 20px;
    width: 100%;
    margin-right: 5px;
}

#currentUsersWrapper span {
    min-width: 15px;
    text-align: right;
    margin-right: 5px;
}