.pdisplay_test #mainTop section {
    position: relative;
    overflow: hidden;
    padding: 0 !important;
}
.pdisplay_test #mainTop section:before {
    content: '';
    width: 1050px;
    height: 357px;
    background-image: url('https://res.cloudinary.com/ignite-visibility/image/upload/v1668503724/Experian/PDisplay_Landing_Page/Hero_image.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 50%;
}
.pdisplay_test #mainTop .container {
    display: flex;
}
.pdisplay_test #mainTop .container .content_left,
.pdisplay_test #mainTop .container .content_right {
    max-width: 50%;
    width: 100%;
}
.pdisplay_test #mainTop .container .content_left {
    flex: 1 0 auto;
    padding: 60px 30px 60px 0;
}
.pdisplay_test #mainTop .container .content_right {
    min-height: 100%;
}
.pdisplay_test #mainTop .container .content_right img {
    height: 100%;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: left;
}
.pdisplay_test #mainTop .container .marquee-text-content a {
    font-size: 18px;
    line-height: normal;
    color: #fff;
    border-color: #2564b7;
    background-color: #1d4f91;
    border-radius: 6px;
    font-weight: 500;
    padding: 10px 35px;
    margin: 10px 0 0;
    display: inline-block;
    text-align: center;
}
.pdisplay_test #mainTop .container .marquee-text-content a:hover {
    text-decoration: none;
}
@media only screen and (max-width: 1499.98px) {
    .pdisplay_test #mainTop section:before {
        height: 390px;
        width: 750px;
        background-position: top left;
    }
}
@media only screen and (max-width: 1199.98px) {
    .pdisplay_test #mainTop section:before {
        height: 410px;
    }
    .pdisplay_test #mainTop .container h1 {
        font-size: 34px;
    }
}
@media only screen and (min-width:992px) {
    #main .content-bg-box {
	    background-color: #F4F4F4;
	}
	#main .columnBoxes h2 {
		margin-bottom: 30px;
		padding-top: 10px;
	}
	#main .content-bg-box .box-top img {
		max-width: 80px;
	}
}