.homepage_iv .additional-info {
    border-top: 1px solid #babec1;
    padding-top: 20px;
    margin-top: 10px;
}
.homepage_iv .additional-info .additionalInfoInner {
    display: flex;
    align-items: center;
}
.homepage_iv .additional-info span.score {
    font-weight: 700;
    color: #000;
}
.homepage_iv .additional-info span.ratings {
    color: #383636;
}
.homepage_iv .reviewStarsWrapper {
    display: flex;
    align-items: center;
}
.homepage_iv .additional-info .line {
    height: 50px;
    width: 2px;
    background: #babec1;
    margin: 0 24px;
}
.homepage_iv .additional-info .imageWrapper { 
    max-width: 120px;
    width: 100%;
}
.homepage_iv .additional-info .imageWrapper img { 
    width: 100%;
}


@media (max-width: 991.98px) {
    .homepage_iv .additional-info span.score,
    .homepage_iv .additional-info span.ratings {
        font-size: 16px;
    }
    .homepage_iv .additional-info .line {
        margin: 0 10px;
    }
}
@media (max-width: 640.98px) { 
    .homepage_iv .additional-info .additionalInfoInner {
        margin: 0 auto;
        justify-content: center;
    }
}
@media (max-width: 767.98px) { 
    .homepage_iv .additional-info .line {
        margin: 0 20px;
    }
}
@media (max-width: 359.98px) { 
    .homepage_iv .additional-info .line {
        margin: 0 15px;
    }
    .homepage_iv .additional-info .imageWrapper {
        max-width: 100px;
    }
}