@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.iv-Homepage .hero:not(.heroSection) {
    display: none;
}
.iv-Homepage .heroSection {
    position: relative;
}
.iv-Homepage #wrapper .heroContent.content {
    position: absolute;
    bottom: 50%;
    text-align: center;
    transform: translateY(50%);
    left: 0;
    color: #ffff;
    padding: 0 15px;
}
.iv-Homepage #wrapper .heroContent p {
    color: #FFF;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.76px;
    text-transform: uppercase;
    margin-bottom: 0;
}
.iv-Homepage #wrapper .heroContent h1 {
    color: #FFF;
    font-family: "Playfair Display";
    font-size: 74px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.28px;
    margin-bottom: 42px;
}
.iv-Homepage #wrapper .heroContent h1 span {
    font-style: normal;
}
.iv-Homepage .heroButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.iv-Homepage .heroButtons a {
    color: #FFF;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 6.68px;
    text-transform: uppercase;
    border-radius: 90px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 384px;
    height: 68px;
}
.iv-Homepage .shopNowBtn {
    background: #6B99CB;
}
.iv-Homepage .learnMoreBtn {
    border: 1px solid #FFF;
}
.iv-Homepage #wrapper .heroContent p.subHeadline {
    text-transform: inherit;
    margin-top: 14px;
    font-size: 24px;
    letter-spacing: inherit;
}
@media(min-width: 912px) and (max-width: 1199.98px){
    .iv-Homepage #wrapper .heroContent h1 {
        font-size: 54px;
        margin-bottom: 12px;
    }
    .iv-Homepage .heroButtons a {
        font-size: 30px;
        font-weight: 400;
        line-height: normal;
        max-width: 350px;
        height: 60px;
    }
}
@media (max-width: 911.98px) {
    .iv-Homepage .hero.hero-slider-single .hero-slide.has-tab-bg .tablet-bg-container {
        background-position: center;
    }
}
@media (min-width: 768px) {
    .iv-Homepage #wrapper .heroContent p br {
        display: none;
    }
}
@media (max-width: 767px) {
    .iv-Homepage .hero.hero-slider-single .hero-slide.has-tab-bg {
        background-image: none !important;
    }
    .iv-Homepage main .hero-slide .mobile-bg-container {
        background-color: #000000;
    }
    .iv-Homepage .heroButtons {
        flex-direction: column;
    }
    .iv-Homepage #wrapper .heroContent p {
        font-size: 25px;
        line-height: normal;
        letter-spacing: 3.25px;
    }
    .iv-Homepage #wrapper .heroContent h1 {
        font-size: 34px;
        line-height: normal;
        margin-bottom: 22px;
    }
    .iv-Homepage #wrapper .heroContent h1 br {
        display: none;
    }
    .iv-Homepage #wrapper .heroContent h1 span {
        font-size: 37px;
        line-height: 51.772px;
    }
    .iv-Homepage .heroButtons {
        gap: 8px;
    }
    .iv-Homepage .heroButtons a {
        font-size: 18px;
        line-height: 12.342px;
        letter-spacing: 4.32px;
        max-width: 208px;
        height: 36px;
    }
    .iv-Homepage .hero .hero-slide.animated-hero.has-mob-bg .mobile-bg-container {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 27.97%, #000 74.71%), url(https://res.cloudinary.com/ignite-visibility/image/upload/v1768301735/Cefaly/PrimarySecondaryCTAsHero/HomeHeroPageM2.jpg) lightgray 50% / cover no-repeat !important;
    }
}