body.mobile-menu .mobile-header {
	display: none;
}
@media only screen and (max-width: 767.98px) {
	body.mobile-menu .mobile-header {
		display: block;
	}
	body.mobile-menu .header.header {
		display: none !important;
	}
	.mobile-header {
	    background-color: #fff;
	    padding: 10px;
	    position: sticky;
	    top: 0;
	    z-index: 99;
	    box-shadow: 0px 0px 10px 2px rgb(189 189 189 / 20%);
	}
	.mobile-header-main {
	    display: flex;
	    align-items: center;
	    justify-content: space-between;
	}
	.mobile-header a.block-btn-new {
	    width: 20px;
	    height: 20px;
	    display: block;
	    background: url('data:image/svg+xml,<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24.2188 12.2397H1.5625" stroke="%232E6FBC" stroke-width="2" stroke-miterlimit="10"/><path d="M24.2188 19.7917H1.5625M24.2188 4.6875H1.5625H24.2188Z" stroke="%232E6FBC" stroke-width="2" stroke-miterlimit="10"/></svg>');
	    background-repeat: no-repeat;
	    background-position: center center;
	    font-size: 0px;
	    border: none !important;
	    background-color: transparent !important;
	    outline: none !important;
	}
	.mobile-header-main .mobile-header-left,
	.mobile-header-main .mobile-header-right{
	    display: flex;
	    align-items: center;
	}
	.mobile-header a.orange-btn.trial-button {
	    padding: 10px;
	    font-size: 14px;
	    line-height: normal;
	    margin-right: 15px;
	    text-transform: capitalize;
	    text-align: center;
	}
	.mobile-header a.user-btn-new {
		font-size: 0px;
        border: none;
        padding: 0;
        display: block;
        width: 23px;
        height: 23px;
        background-size: contain !important;
        background-repeat: no-repeat !important;
        background-position: center center !important;
        background: url('data:image/svg+xml,<svg width="11" height="13" viewBox="0 0 11 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.25 6.5C3.58594 6.5 2.25 5.16406 2.25 3.5C2.25 1.85938 3.58594 0.5 5.25 0.5C6.89062 0.5 8.25 1.85938 8.25 3.5C8.25 5.16406 6.89062 6.5 5.25 6.5ZM6.42188 7.625C8.67188 7.625 10.5 9.45312 10.5 11.7031C10.5 12.1484 10.125 12.5 9.67969 12.5H0.796875C0.351562 12.5 0 12.1484 0 11.7031C0 9.45312 1.80469 7.625 4.05469 7.625H6.42188Z" fill="%232E6FBC"/></svg>');
        order: 2;
        margin: 0;
	}
	.mobile-header-main .mobile-header-left div#logo {
	    padding: 0 16px;
	    text-align: left !important;
	}
	body.mobile-menu .mobile-header-main .logo-tagline {
		margin-bottom: 0;
	}
	body.mobile-menu #my-menu {
	    background: #20212F !important;
	}
	body.mobile-menu #my-menu li#menu-item-71,
	body.mobile-menu #my-menu li#menu-item-22690,
	body.mobile-menu #my-menu li#menu-item-64 {
	    background: #2c2d3e !important;
	}
}
@media only screen and (max-width: 560.98px) { 
	body.mobile-menu .mobile-header #logo img {
	    max-width: 170px;
	}
	body.mobile-menu .mobile-header .logo-tagline {
	    padding-left: 25%;
	    width: 100%;
	    max-width: 184px;
	}
	.mobile-header-main .mobile-header-left div#logo {
	    padding: 0 10px;
	}
	.mobile-header a.orange-btn.trial-button {
	    margin-right: 10px;
	}
    .mobile-header a.orange-btn.trial-button {
	    font-size: 11px;
	}
}
@media only screen and (max-width: 400.98px) { 
	body.mobile-menu .mobile-header #logo img {
	    max-width: 130px;
	}
	body.mobile-menu .mobile-header .logo-tagline {
	    padding-left: 37px;
	    width: 100%;
	    max-width: 125px;
	}
}