.homepage_iv .additional-info {
    border-top: 1px solid #727272;
    padding-top: 20px;
    margin-top: 10px;
}
.homepage_iv .additional-info .additionalInfoInner {
    display: flex;
    align-items: center;
}
.homepage_iv .additional-info span.score {
    font-size: 22px;
    font-weight: 700;
    color: #000;
}
.homepage_iv .additional-info img {
    margin: 0 10px;
}
.homepage_iv .additional-info span.ratings {
    color: #383636;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .homepage_iv .additional-info span.score {
        font-size: 26px;
    }
    .homepage_iv .additional-info img {
        margin: 0 8px;
    }
    .homepage_iv .additional-info span.ratings {
        font-size: 15px;
    }
}
@media (max-width: 767.98px) {
    .homepage_iv .additional-info span.score {
        font-size: 26px;
    }
    .homepage_iv .additional-info .additionalInfoInner {
        width: 100%;
        max-width: 200px;
        flex-wrap: wrap;
    }
}
@media (max-width: 640.98px) { 
    .homepage_iv .additional-info .additionalInfoInner {
        margin: 0 auto;
        justify-content: center;
    }
}