.review_wrapper .hero_review,
.review_wrapper .hero_review .bv_numReviews_component_container {
    display: inline-flex;
    align-items: center;
    color: #767676;
    cursor: pointer;
}
.review_wrapper .hero_review {
    padding: 10px 0 5px;
}
.review_wrapper .hero_review .bv_stars_component_container {
    padding-right: 1em;
    line-height: normal;
}
.review_wrapper {
    align-items: flex-start !important;
    flex-flow: column;
}
.hero_review [data-bv-show=rating_summary] .bv_main_container button ~ .bv_main_container_row_flex {
    display: none !important;
}
.hero_review [data-bv-show=rating_summary] .bv_main_container .bv_main_container_row_flex {
    /* pointer-events: none; */
    padding-right: 0 !important;

}