.checkout_test .tableContainer.privacydiv1+span,
.checkout_test .tableContainer.privacydiv1+span+.cl_line10t,
.checkout_test #checkoutGeneralForm .bAddress2_wrapper+.cl_line10t,
.checkout_test #checkoutGeneralForm .sAddress2_wrapper+.cl_line10t,
.checkout_test .residentialFlagB + .cl_line10t,
.checkout_test .form_stacked .ncrt_cm_s_field_block_50#s_INT1 .ncrt_cm_fieldlabel,
.checkout_test .ncrt_cm_radiolabel+.cl_line10t,
.checkout_test .right_part .ncrt_shi_item .cl_line10t,
.checkout_test .right_part .ncrt_shi_item .ncrt_cm_s_field_block_33_last .ncrt_cm_desc_n,
.checkout_test .right_part .ncrt_shi_item .ncrt_cm_desc_it,
.checkout_test .ot_bkg .ncrt_c_head_sm+.cl_line,
.cl+.cl+.ncrt_cm_sectcont20,
#intDutiesBox .ncrt_cm_sectcont20:last-child,
.checkout_test #checkoutGeneralForm .bAddress2_wrapper,
.checkout_test .form_stacked .sAddress2_wrapper{
    display: none !important;
}
#checkoutGeneralForm span .ncrt_cm_fieldlabel{
    position: absolute;
    top: 10px;
    cursor: inherit;
}
#checkoutGeneralForm span .focused .ncrt_cm_fieldlabel,
#checkoutGeneralForm span .focused select{
    top: -16px;
}
#checkoutGeneralForm .ncrt_cm_wrap+.ncrt_cm_wrap .ncrt_acc_wrap{
    margin-top: 15px;
    margin-bottom: 0;
}

.checkout_test .ncrt_acc_bil #sFirstName,
.checkout_test .ncrt_acc_bil #bFirstName,
.checkout_test .ncrt_acc_bil #newEmailAddy,
.checkout_test .ncrt_acc_bil #bAddress1,
.checkout_test .ncrt_acc_bil #sAddress1,
.checkout_test .ncrt_acc_bil #bLastName,
.checkout_test .form_stacked .ncrt_cm_s_field_block_20 [for="bPhoneExt"] +input,
.checkout_test .form_stacked .ncrt_cm_s_field_block_20 #bPhoneExt,
.checkout_test .form_stacked [class*="ncrt_cm_s_field_block_"].email_wrapper,
.checkout_test .form_stacked [class*="ncrt_cm_s_field_block_"].email_wrapper #email,
.checkout_test .form_stacked [class*="ncrt_cm_s_field_block_"] #bCompany,
.checkout_test .form_stacked input,
.checkout_test .form_stacked select,
.checkout_test .form_stacked #bZip,
.checkout_test .form_stacked input#bAddress2,
.checkout_test .right_part .ncrt_cm_s_field_block_40,
.checkout_test .main_part .right_part .ncrt_cm_wrap .ncrt_cm_s_field_block_66,
.checkout_test #checkoutBraintreePaymentForm .ncrt_cm_s_field_block_66,
.checkout_test .main_part .left_part #owc-chk-payment-cc-main .ncrt_cm_s_field_block_50:first-child,
.checkout_test .main_part .left_part #owc-chk-payment-cc-main .cl+.ncrt_cm_s_field_block_50,
.checkout_test .main_part .left_part #owc-chk-payment-cc-main .ncrt_cm_s_field_block_40,
.checkout_test #checkoutGeneralForm .bCountry .ship-select{
    width: 100%;
}
.checkout_test .checkoutGeneralForm_inner,
.checkout_test .checkoutGeneralForm_inner2,
.checkout_test .form_stacked .ncrt_cm_s_field_block_20 input,
.checkout_test .residentialFlagB,
.checkout_test .ncrt_cm_radiolabel,
.checkout_test .form_stacked [class*="ncrt_cm_s_field_block_"].email_wrapper,
.checkout_test #checkoutGeneralForm .bCompany_wrapper,
.checkout_test #checkoutGeneralForm .bAddress1_wrapper,
.checkout_test #checkoutGeneralForm .bCountry,
.checkout_test .form_stacked .sCompany_wrapper,
.checkout_test .form_stacked .sAddress1_wrapper,
.checkout_test .form_stacked .sAddress2_wrapper,
.checkout_test .form_stacked .sCountry,
.checkout_test .sAddress2_wrapper+.cl_line10t+.ncrt_cm_s_field_block_50,
.checkout_test .checkoutGeneralForm_inner1,
.checkoutGeneralForm_inner3,
.checkout_test .ncrt_acc_bil #b_INT1{
    display: flex;
    width: 60% !important;
}
/* .checkout_test .checkoutGeneralForm_inner1{
    display: initial;
} */
body.checkout_test .checkoutGeneralForm_inner1 .bPhone_wrapper,
.checkout_test .form_stacked .ncrt_cm_s_field_block_20 [for="bPhone"] +input,
.checkout_test .form_stacked .ncrt_cm_s_field_block_20 #bPhoneExt,
.checkout_test .checkoutGeneralForm_inner1 .bPhone_wrapper+.ncrt_cm_s_field_block_20{
    max-width: 248px;
    width: 247px !important;

}
/* .checkout_test .checkoutGeneralForm_inner span input,
.checkout_test .checkoutGeneralForm_inner1 span input,
.checkout_test .checkoutGeneralForm_inner1+.ncrt_cm_s_field_block_50{
    margin-bottom: 20px;
} */

#checkoutGeneralForm span .ncrt_cm_fieldlabel[for="bPhoneExt"]{
    left: 60px;
}

.checkout_test .form_stacked [class*="ncrt_cm_s_field_block_"]{
    width: inherit;
}

.checkout_test .bPhone_wrapper+.ncrt_cm_s_field_block_20{
    margin: 15px 0px 0px 0px;
}
.checkout_test .ncrt_agree+.ncrt_cm_sectcont20{
    text-align: center;
}
.checkout_test #checkoutGeneralForm .ncrt_acc_bil,
.checkout_test #checkoutGeneralForm .ncrt_acc_shi{
    margin: 15px 30px;
}

.checkout_test .payment_Type{
    width: 100%;
    display: inline-block;
    max-width: 300px;
    -moz-box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    -webkit-box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}
.checkout_test .payment_Type .ncrt_cm_buttonlabel{
    font-size: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
}
.checkout_test .payment_Type .ncrt_cm_buttonlabel::before{
    content: "Choose Shipping & Payment Type";
    font-size: 16px;
    position: absolute;
}
.checkout_test .form_stacked #bZip,
.checkout_test .form_stacked #sCompany,
.checkout_test .form_stacked #sZip{
    margin-bottom: 0;
}
.checkout_test .commercial_Address,
.checkout_test .apt_Suite{
    display: block;
    text-decoration: none;
    cursor: pointer;
}
.checkout_test .ext{
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.checkout_test #checkoutGeneralForm .sfirstName_wrapper,
.checkout_test #checkoutGeneralForm .sLastName,
.checkout_test #checkoutGeneralForm .sPhone_wrapper,
.checkout_test #checkoutGeneralForm .sPhoneExt,
.checkout_test #checkoutGeneralForm .altPhone,
.checkout_test #checkoutGeneralForm .altPhoneExt{
    width: 48%;
}
.checkout_test .form_stacked .sCompany_wrapper,
.checkout_test .form_stacked .sAddress1_wrapper,
.checkout_test .form_stacked .sAddress2_wrapper,
.checkout_test .form_stacked .sCountry,
.checkout_test .sAddress2_wrapper+.cl_line10t+.ncrt_cm_s_field_block_50{
    width: 98%;
}
.checkout_test .form_stacked #b_US1+.ncrt_cm_s_field_block_20 input{
    width: 156px !important;

}
.checkout_test .form_stacked #b_US1+.ncrt_cm_s_field_block_20{
    margin-right: 0;
}

.checkout_test .form_stacked #s_US1 #sState,
.checkout_test #checkoutGeneralForm select{
    padding-top: 0;
}
.checkout_test .form_stacked #b_INT1+.ncrt_cm_s_field_block_20,
.checkout_test .form_stacked #s_INT1+.ncrt_cm_s_field_block_20{
    margin: 15px 0 0 0;
}
.checkout_test .form_stacked #s_INT1+.ncrt_cm_s_field_block_20{
    width: 29.5%;
}
.checkout_test .form_stacked .bPhone_wrapper+.ncrt_cm_s_field_block_20{
    display: flex;
    align-items: center;
    margin-top: 15px;
    width: 248px;
}
.checkout_test .form_stacked .bPhone_wrapper+.ncrt_cm_s_field_block_20 a{
    margin-left: 25px;
    margin-right: 5px;
}
.checkout_test .form_stacked .listJoinOWCBlast{
    display: flex;
    align-items: baseline;
}
.checkout_test .ncrt_cm_wrap .ncrt_acc_wrap .ncrt_cm_sectcont20{
    text-align: center;
    margin-bottom: 10px;
}
.checkout_test .ncrt_cm_wrap .ncrt_acc_wrap .ncrt_cm_sectcont20+h1{
    margin-top: 0;
    margin-bottom: 0;
}
.checkout_test .ncrt_cm_radiolabel #residentialFlagB,
.checkout_test .ncrt_cm_radiolabel #residentialFlag,
.checkout_test .form_stacked .listJoinOWCBlast #listJoinOWCBlast{
    width: 2%;
    margin-left: 0;
}

.checkout_test .plus{
    position: relative;
    display: inline-block;
    margin-left: 24px;
    margin-bottom: 15px;
  }
  
.checkout_test .plus:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: currentColor;
    left: -24px;
    top: 10px;
}
.checkout_test .plus:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: currentColor;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    left: -24px;
    top: 10px;      
  }
.checkout_test .minus{
      margin-left: 24px;
      margin-bottom: 15px;
  }
.checkout_test .minus::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: currentColor;
    margin-top: 10px;
    margin-left: -24px;
}
.checkout_test .main_part{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
}
.checkout_test .main_part .left_part{
    width: 62%;
}
.checkout_test .main_part .left_part .ncrt_cm_wrap{
    margin: 0px 10px 0 25px;
}
.checkout_test .main_part .right_part{
    width: 35%;
    border: 1px solid black;
}
.checkout_test .right_part .ncrt_shi_item{
    display: inline-grid;
}
.checkout_test .main_part .right_part .ncrt_cm_wrap {
    margin: 0 11px;
}
.checkout_test .main_part .right_part .ncrt_cm_wrap .ncrt_shi_total,
.checkout_test .main_part .left_part .ncrt_cm_wrap .ncrt_shi_total{
    margin-top: 0;
}
.checkout_test .main_part .right_part .ncrt_cm_wrap+.ncrt_cm_s_field_block_33_last{
    width: 100%;
    max-width: 324px;
    margin: 0 11px;
}
.checkout_test .main_part .left_part #owc-chk-payment-cc-main .ncrt_cm_s_field_block_25{
    width: 49%;
}
.checkout_test .main_part .left_part #owc-chk-payment-cc-main .ncrt_cm_s_field_block_50 #ccNumber{
    width: 92%;
}
.checkout_test .main_part .left_part #owc-chk-payment-cc-main .ncrt_cm_s_field_block_25+.ncrt_cm_s_field_block_25{
    margin-right: 0;
}
.checkout_test .main_part .right_part .ncrt_cm_wrap .ncrt_shi_total .ncrt_cm_Summary,
.checkout_test .main_part .right_part .ncrt_cm_wrap+.ncrt_cm_s_field_block_33_last .ncrt_cm_sectitle{
    font-size: 28px;
    display: block;
    margin-bottom: 15px;
}
.checkout_test .main_part .right_part .ncrt_cm_wrap .ncrt_shi_total .ncrt_cm_sectitle,
.checkout_test .main_part .right_part .ncrt_cm_wrap .ncrt_shi_item .ncrt_cm_sectitle{
    font-size: 24px;
    font-weight: 500;
}
.checkout_test .main_part .right_part .ncrt_cm_wrap .ncrt_shi_item .ncrt_cm_desc_n{
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}
.checkout_test .main_part .right_part .ncrt_cm_wrap .ncrt_shi_item .ncrt_cm_desc_b{
    font-size: 20px;
}
body.checkout_test .main_part .right_part .ncrt_shi_subtotal,
body.checkout_test .ncrt_acc_bil input{
    margin-bottom: 15px !important;
} 