.iv-starting-price .pss-card-list__featureboxes,
.iv-price-viewall .iv-label-price {
    display: none;
}
div.row:has(#pss-skip-to-content) {
    flex-direction: row-reverse;
}
#MainContent_LocationRepeater .pss-card-list {
    display: block;
    border-radius: 5px;
    border: 1px solid #E4E4E4;
    background: #FFF;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
}
.iv-price-desktop {
    display: flex;
    border-radius: 0 5px 5px 5px;
    border: 1px solid #E4E4E4;
    background: #FFF;
    align-items: center;
    min-height: 99px;
}
.iv-price-section {
    width: 100%;
    padding-top: 60px;
}
.iv-price-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
    color: #000;
    border-right: 1px solid #E4E4E4;
    flex: 1 0 auto;
    padding: 13px;
    cursor: pointer;
}
.iv-price-row.iv-price-viewall {
    align-items: center;
    border: 1px solid #C2D500;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 0 8.9px 0 rgba(194, 213, 0, 0.70);
    justify-content: center;
    height: 103px;
    padding: 0;
}
.iv-price-row > strong {
    color: #313131;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.iv-price-desktop .iv-price-row span {
    color: #676767;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.iv-label-price > div { 
    padding-top: 20px;
}
.iv-price-desktop .iv-label-price > div {
    color: #676767;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.iv-price-desktop .iv-label-price > div > span {
    color: #EA101F;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.iv-mob-starting-price {
    margin-left: 5px;
}
.iv-starting-price #MainContent_LocationRepeater .pss-card-list .pss-card-list__imagebox {
    height: 130px;
}

@media (max-width: 1200px) {
    .iv-starting-price #MainContent_LocationRepeater .pss-card-list .pss-card-list__featureboxes-wrapper{
        padding-right: 20px;
    }
    .iv-price-desktop .iv-price-row span {
        padding-right: 8px;
    }
}

@media (max-width: 1199px) { 
    .iv-price-desktop .iv-price-row span {
        padding-right: 18px;
    } 
}

@media (max-width: 767px) {
    .iv-starting-price .pss-card-list .pss-card-list__featureboxes{
        display: block;
    }
    .iv-starting-price .pss-card-list .pss-card-list__featureboxes .pss-card-list__right-buttons-box{
        display: none;
    }
    .iv-price-desktop { 
        padding: 0 0 0 20px;
        margin-right: 0;
        min-height: auto;
    }
    .iv-starting-price #MainContent_LocationRepeater .pss-card-list .pss-card-list__featureboxes-wrapper{
        padding-right: 0;
    }
}

@media (max-width: 575px) {
    .iv-price-desktop { 
        padding: 0; 
    }
}


body #MainContent_LocationRepeater .pss-card-list__title {
    flex-direction: column;
}
body #MainContent_LocationRepeater .pss-card-list__top-wrapper {
    flex-direction: row-reverse;
}
body .pss-card-list__contentbox {
    padding-right: 15px;
    padding-left: 0;
}
.ratingReviewWrapper {
    display: flex;
    padding: 10px 0;
}
.unitsBoxNumber {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 0;
}
.phoneNumberText a {
    color: #676767;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.phoneNumberText a:hover {
    color: #676767;
    text-decoration: inherit;
}