.sticky-product-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 48px;
    left: 0;
    text-align: center;
    font-weight: 600;
    width: 100%;
    height: auto;
    z-index: 9;
    background-color: #fff;
    color: #000;
    text-transform: capitalize;
    font-size: 15px;
    box-shadow: 0px 0px 15px rgb(57 57 57 / 46%);
    padding: 2px 50px 0;
}

@media only screen and (min-width: 767.98px) {
    .sticky-product-main {
        display: none;
    }
}