@media (min-width: 992px) {
    
    html {
        scroll-behavior: smooth;
    }
    body {
        visibility: hidden;
    }
    img {
        image-rendering: -webkit-optimize-contrast;
    }

    /* Add your test CSS here */
    .iv_homepage header #Top_bar + div {
        display: none;
    }

    .hero_section {
        min-height: 400px;
    }

    .hero_section .container {
        max-width: 1200px;
        width: 100%;
        padding: 0 40px;
    }

    .hero_section * {
        box-sizing: border-box;
    }

    .hero_section .hero_content {
        min-height: 400px;
        display: flex;
        align-items: center;
    }

    .hero_section .hero_content .hero_left,
    .hero_section .hero_content .hero_right {
        position: relative;
        overflow: hidden;
        max-width: 50%;
        width: 100%;
    }

    .hero_section .hero_content .hero_right:before {
        content: '';
        width: 20px;
        height: 100%;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: -15px;
        box-shadow: 0 0 20px 25px #fff;
    }

    .hero_section h1 {
        font-size: 55px;
        line-height: normal;
        margin-bottom: 20px;
    }

    .hero_section h1 span {
        color: #00AEEF;
    }

    .hero_section p {
        font-family: "Patua One",Helvetica,Arial,sans-serif;
        font-size: 28px;
        line-height: normal;
        color: #000;
        margin-bottom: 35px;
    }

    .hero_section a {
        display: inline-block;
        background-color: #1B9D2C;
        color: #fff;
        font-size: 22px;
        max-width: 230px;
        width: 100%;
        text-align: center;
        padding: 15px;
        transition: all 0.3s ease-in-out 0s;
    }

    .hero_section a:hover {
        text-decoration: none;
        opacity: 0.8;
    }

    .hero_section img {
        object-fit: cover;
        height: 100% !important;
        width: 600px;
        max-width: 600px !important;
    }

}


@media (max-width: 991.98px) {
    .iv_homepage .hero_section {
        display: none;
    }
}