.homepageIV .pss-hero div.pss-hero__promotion-text2,
.homepageIV .pss-hero .pss-row2 a svg,
.homepageIV .pss-hero .pss-hero__search .pss-row2 a,
.homepageIV .pss-hero__search .pss-row2.only-mobile,
.homepageIV .pss-hero .pss-row1 + .pss-row2 {
    display: none !important;
}

#homeFindStorageUnitWrapperID {
    background-image: url('//res.cloudinary.com/ignite-visibility/image/upload/PriceSelfStorage/PSSHero.png') !important;
}
.homepageIV .pss-hero h1 {
    color: #FFF;
    font-weight: 700;
    width: 100%;
    max-width: 500px;
    line-height: normal;
}
.homepageIV .pss-hero .pss-hero__promotion-logo {
    padding-bottom: 15px;
}
.homepageIV .pss-hero .pss-row1 {
    flex-direction: column;
}
.homepageIV .pss-hero .pss-row1 .subtitle {
    font-family: "HubotSans-M", sans-serif;
    font-size: 1.125rem;
    color: #313131;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
}
.homepageIV .pss-hero .pss-row2 {
    display: block;
    align-items: center;
    color: #fff;
    margin-top: 40px;
}
.homepageIV .pss-hero .pss-row2  div:first-child {
    font-size: 28px;
    width: 100%;
    max-width: 90px;
    line-height: normal;
}
.homepageIV .pss-hero .pss-row2 .numberText {
    line-height: normal;
}
.homepageIV .pss-hero .pss-row2 .rentText {
    font-size: 32px;
}

.homepageIV .pss-hero__search #txtHomeSearch {
    height: auto;
    padding: 0 0 0 20px;
}
.homepageIV .pss-hero__search .pss-search {
    max-width: 500px;
    align-items: center;
    border-radius: 50px;
    padding: 10px;
}
.homepageIV .pss-hero__search #btnHomeSearch {
    background-color: #EA101F;
    border-radius: 50px;
    padding: 10px 20px;
}

.homepageIV .pss-hero__search input#txtHomeSearch::-moz-placeholder {
    color: #21368B;
    opacity: 1;
}
.homepageIV .pss-hero__search input#txtHomeSearch:-moz-placeholder {
    color: #21368B;
    opacity: 1;
}
.homepageIV .pss-hero__search input#txtHomeSearch::-webkit-input-placeholder {
    color: #21368B;
    opacity: 1;
}
.homepageIV .pss-hero__search input#txtHomeSearch:-ms-input-placeholder {
    color: #21368B;
    opacity: 1;
}

.homepageIV .iIconText {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.homepageIV .iIconText img{
    width: 100%;
    max-width: 16px;
}
.homepageIV .iIconText p {
    margin-bottom: 0;
}
.homepageIV .pss-hero .pss-row2 div:first-child ,
.homepageIV .pss-hero .pss-row2 .rentText {
        font-family: 'HubotSans-M';
    }
@media (min-width: 768px) {
    .homepageIV .pss-hero .pss-row1 +.pss-row2 {
        display: none;
    }
}
@media (max-width: 767.98px) {
    .homepageIV .pss-hero {
        height: calc(100vh - 200px);
    }
    .homepageIV .pss-hero .pss-row1 {
        margin: 0 auto;
    }
    .homepageIV .pss-hero .pss-row2 {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .homepageIV .pss-hero__search .pss-search + .iIconText {
        display: none;
    }
    #homeFindStorageUnitWrapperID .pss-hero__wrapper {
        justify-content: flex-start;
        height: auto;
        background: #0A1F8F;
        margin: 24px 15px;
    }
    #homeFindStorageUnitWrapperID {
        background-image: url('https://res.cloudinary.com/ignite-visibility/image/upload/v1749454344/PriceSelfStorage/HeroBgMobile.png') !important;
        background-position: bottom;
    }
    #homeFindStorageUnitWrapperID .pss-hero__content {
        background: inherit;
    }
    .homepageIV .pss-hero h1 {
        text-align: center !important;
        font-size: 38px !important;
        max-width: 100%;
    }

    .homepageIV .pss-hero__search {
        padding: 0 15px;
        margin: 0 auto;
    }
    .homepageIV .pss-hero  .pss-hero__search .pss-row2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
        color: #ea101f;
        font-family: "HubotSans-Black", sans-serif;
        column-gap: 15px;
        text-align: left;
        padding-top: 15px;
    }
    .homepageIV .pss-hero .pss-hero__search .pss-row2 div+div {
        font-size: 38px;
    }
    .homepageIV .pss-hero .pss-hero__search .pss-row2 {
        column-gap: 8px;
    }
    .homepageIV .pss-hero .pss-row2 div:first-child {
        font-size: 24px;
        max-width: 80px;
    }
    .homepageIV .pss-hero .pss-row2 a + div {
        font-size: 14px;
        width: 100%;
        max-width: 100px;
    }
    .homepageIV .pss-hero .pss-row2 a + div span {
        font-size: 32px;
    }
    body.homepageIV .pss-hero__search .pss-row2.only-mobile {
        display: flex !important;
    }
    .homepageIV .iIconText {
        text-align: center;
        margin: 0 auto;
    }
    .homepageIV .iIconText img{
        margin-right: 4px;
        max-width: 14px;
    }
    .homepageIV .iIconText p {
        font-size: 14px;
    }
}
@media (max-width: 424.98px) {
    .homepageIV .iIconText img {
        max-width: 12px;
    }
    .homepageIV .iIconText p {
        font-size: 12px;
    }
}
@media (max-width: 359.98px) {
    .homepageIV .pss-hero__search #txtHomeSearch {
        padding: 0 0 0 6px;
    }
}