@media(min-width: 768px) {
    .iv-navigation .nav-links {
        display: none;
    }
}
@media(max-width: 767.98px) {
    .iv-navigation .nav-links {
        background-color: #fff;
        text-align: center;
        border-top: 1px solid #DFDFDF;
        border-bottom: 1px solid #DFDFDF;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        padding: 16px 30px;
    }
    .iv-navigation .nav-links ul {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .iv-navigation .nav-links ul li {
        padding: 0;
    }
    .iv-navigation .nav-links a {
        color: #000;
        display: block;
        font-family: Montserrat;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
    }
    .iv-navigation .nav-links a:hover {
        text-decoration: underline;
    }
    .iv-navigation header {
        padding: 0;
    }
    .iv-navigation header .header {
        background: #fff;
        color: #000;
    }
    .iv-navigation .swym-header-launcher span.swym-header-launcher-icon {
        margin: 0 !important;
    }
    .iv-navigation .header-search {
        z-index: 1;
    }
}