.iv-product-finder .pxs-image-with-text-section{
    display: none;
}
.iv-product-finder .animated-modal {
    transform: translateY(0);
    margin-bottom: 30px;
}
.iv-product-finder .animated-modal .promo-form .head-part {
    border-top: 1px solid #ccc;
}
.iv-product-finder .animated-modal form .step-box h2 {
    opacity: 1;
    transform: translateY(0);
}
.iv-product-finder .animated-modal .container_b, 
.iv-product-finder .animated-modal fieldset {
    padding-left: 0;
    padding-right: 0;
}