.liveChat_iv .liveChat {
    background-image: url('//res.cloudinary.com/ignite-visibility/image/upload/f_auto/macsales/LiveChatTest/LiveChatbanner.jpg');
    background-size: 140%;
    background-position: top -24px right -100px;
    background-repeat: no-repeat;
    width: 100%;
    cursor: pointer;
    display: block;
    margin: 50px 0;
    padding: 100px 50px;
}
.liveChat_iv .liveChat:hover {
    text-decoration: none;
}
.liveChat_iv .content {
    width: 100%;
    max-width: 600px;
    display: block;
    background-color: #1010107d;
    text-align: center;
    border-radius: 40px;
    margin-left: auto;
    padding: 50px 30px;
}
.liveChat_iv .liveChat h2 {
    color: #fff;
}
.liveChat_iv .liveChat .content span {
    background-color: #60C447;
    border-radius: 12px;
    max-width: 218px;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #000;
    display: inline-block;
    box-shadow: rgb(0 0 0) -4px 25px 18px -20px;
    text-decoration: none;
    margin-top: 30px;
    padding: 15px;
}
.liveChat_iv .liveChat .content span:hover {
    background-color: #53a43f;
}
@media (max-width: 989.98px) {
    .liveChat_iv .liveChat {
        padding: 100px 20px;
    }
    .liveChat_iv .content {
        padding: 80px 20px;
        margin: 0 auto;
    }
}
@media (max-width: 767.98px) {
    .liveChat_iv .content {
        max-width: 312px;
    }    
    .liveChat_iv .liveChat {
        background-size: cover;
        background-position: center;
    }
    .liveChat_iv .liveChat .content span {
        max-width: 240px;
        font-size: 20px;
        line-height: 24px;
        padding: 20px;
    }
}
@media (max-width: 424.98px) {
    .liveChat_iv .content {
        max-width: 210px;
        padding: 50px 20px;
    }
    .liveChat_iv .liveChat .content span {
        max-width: 160px;
    }
}