body .product-bprice {
	text-align: left;
}
body .product-bprice .starting-price {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
body .s-price {
    margin-right: 0;
}
body .s-price .product-bprice__label {
    padding-bottom: 25px;
}
body .s-price .product-bprice__value {
	font-weight: bold;
    border: none;
	padding-right: 12px;
}
body .retail-bprice .product-bprice__sale {
	display: none;
}
body .retail-bprice .product-bprice__value {
	position: relative;
	text-transform: capitalize;
}
body .retail-bprice .product-bprice__value:before {
	content: '';
	width: 100%;
	height: 1px;
	background-color: #969696;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
body .product-bprice__savings {
    background-color: red;
    text-align: center;
    color: #fff;
    padding: 4px 10px;
	margin-bottom: 2px;
}
body .retail-bprice .product-bprice__value {
    position: absolute;
    left: 0;
    top: 25px;
}
body .product-bprice .starting-price .prices-vary {
    margin-top: 10px;
}

@media (min-width: 768px) and (max-width: 1099px) {
	body .product-bprice .starting-price {
		justify-content: center;
		padding-top: 55px;
	}
	
	body .product-bprice .starting-price * {
		text-align: center;
	}
	
	body .retail-bprice .product-bprice__value {
		left: 50%;
		transform: translateX(-50%);
	}
	
	body .s-price .product-bprice__label {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: 0;
	}
}

@media (max-width: 767.98px) {
	body .product-bprice {
		padding-left: 20px;
		padding-right: 20px;
	}
	body .s-price .product-bprice__label {
		padding-top: 15px;
		padding-bottom: 40px;
	}
	body .retail-bprice .product-bprice__sale {
		display: block;
		position: absolute;
		top: -20px;
		left: 0px;
	}
	body .retail-bprice .product-bprice__value {
		font-size: 19px;
		top: 45px;
	}
	body .s-price .product-bprice__value {
		font-weight: normal;
	}
}