
@media (min-width: 992px) and (max-width: 1420.98px) {
    body.cybergrx_iv .speakers_section ul li h4 {
        font-size: 16px;
    }
    body.cybergrx_iv .speakers_section ul li img {
        max-width: 100px;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .cybergrx_iv .mod-banner.mod-banner-l {
        padding-top: 110px;
    }
    .cybergrx_iv .align-items-center{
        margin: 25px 0 32px;
    }
}

@media only screen and (min-width: 992px) {
    .cybergrx_iv .mod-banner.mod-banner-l .content-banner h2 + h2,
    .cybergrx_iv .img-canvas,
    .cybergrx_iv .f-landing-right .style-ul-check div:nth-child(1),
    .cybergrx_iv .mod-banner-3.mod-banner-home .mark-skew-white,
    .cybergrx_iv #hs_cos_wrapper_widget_30745387653,
    .cybergrx_iv #hs_cos_wrapper_widget_30745387654 {
        display: none;
    }
    .cybergrx_iv .mod-banner.mod-banner-l {
        margin-bottom: 0;
        padding-top: 120px;
    }
    .cybergrx_iv .mod-banner.mod-banner-l .d-table {
        padding-bottom: 0px;
    }
    .cybergrx_iv .mod-banner-home {
        background-color:inherit;
    }
    .cybergrx_iv .col-right-chart {
        position: initial;
    }
    .cybergrx_iv #header {
        background-color: #f0f6fd;
    }
    .cybergrx_iv .mod-banner.mod-banner-l .content-banner {
        max-width: 100%;
        color: #000;
        margin-bottom: auto;
    }
    .cybergrx_iv .mod-banner.mod-banner-l .content-banner p {
        color: #516d8a;
        max-width: 561px;
        width: 100%;
    }
    .cybergrx_iv .mod-banner.mod-banner-l .content-banner h2 {
        font-weight: bold;
        color: #000;
        max-width: 600px;
        width: 100%;
    }
    .cybergrx_iv .mod-banner.mod-banner-l .content-banner h2 strong {
        font-size: 25px;
        display: block;
        font-family: 'Roboto';
    }
    .cybergrx_iv .mod-banner.mod-banner-l .content-banner h2 + h2{
        font-size: 18px;
        font-weight: 700;
        color: #07294e;
    }
    .cybergrx_iv .mod-banner.mod-banner-l .content-banner h2  span {
        color: #f1693e;
    }
    .cybergrx_iv .align-items-center {
        align-items: initial !important;
    }
    .cybergrx_iv .speakers_section {
        background-color: #f3f3f5;
        padding: 20px 0;
        width: -webkit-calc(100% + 15px);
        width: -moz-calc(100% + 15px);
        width: calc(100% + 15px);
    }
    .cybergrx_iv .speakers_section > h3 {
        padding: 0 20px;
    }
    .cybergrx_iv .speakers_section ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .cybergrx_iv .speakers_section ul li {
        margin: 0;
        text-align: center;
        width: 33.33%;
    }
    .cybergrx_iv .speakers_section ul li img {
        max-width: 125px;
        width: 100%;
    }
    .cybergrx_iv .speakers_section ul li h4 {
        font-size: 18px;
        color: #07294e;
        margin-top: 5px;
        margin-bottom: 0;
    }
    .cybergrx_iv .speakers_section ul li p {
        font-size: 16px;
        letter-spacing: normal;
        margin-bottom: 0;
    }
    .cybergrx_iv .hs-dependent-field {
        width: 100%;
    }



    .cybergrx_iv .align-items-center > div:first-child {
        display: flex;
        flex-direction: column;
    }
}