@media (min-width: 992px) {

    html {
        scroll-behavior: smooth;
    }

    body {
        visibility: hidden;
    }

    img {
        image-rendering: -webkit-optimize-contrast;
    }

    /* Add your test CSS here */
    .iv_homepage header #Top_bar+div,
    .iv_homepage .entry-content>div>div:first-child,
    .iv_homepage #Top_bar .menu>li#menu-item-4567,
    .iv_homepage #asap-service {
        display: none;
    }
    .iv_homepage #Top_bar .container {
        max-width: 1440px;
        width: 100%;
    }
    .iv_homepage .text-center {
        text-align: center;
    }
    .iv_homepage .dummy_link {
        color: #199cb9;
    }
    .iv_homepage #Top_bar .top_bar_left {
        display: flex;
        align-items: center;
    }
    .iv_homepage #Top_bar #logo {
        max-width: 275px;
        width: 100%;
        min-width: auto;
    }
    .iv_homepage .call_text_header {
        display: inline-flex;
        align-items: center;
        justify-content: space-around;
        max-width: 550px;
        width: 100%;
        margin-left: auto;
    }
    .iv_homepage .call_text_header p {
        margin: 5px 0;
    }
    .iv_homepage .header_button {
        display: inline-block;
        background-color: #1B9D2C;
        color: #fff;
        font-size: 22px;
        max-width: 230px;
        width: 100%;
        text-align: center;
        padding: 15px;
        transition: all 0.3s ease-in-out 0s;
    }
    .iv_homepage .header_button:hover {
        text-decoration: none;
        opacity: 0.8;
        color: #fff;
    }
    .iv_homepage .hero_section {
        min-height: 400px;
    }
    .iv_homepage .hero_section .container {
        max-width: 1200px;
        width: 100%;
        padding: 0 40px;
    }
    .iv_homepage .hero_section * {
        box-sizing: border-box;
    }
    .iv_homepage .hero_section .hero_content {
        min-height: 400px;
        display: flex;
        align-items: center;
    }
    .iv_homepage .hero_section .hero_content .hero_left,
    .iv_homepage .hero_section .hero_content .hero_right {
        position: relative;
        overflow: hidden;
        max-width: 50%;
        width: 100%;
    }
    .iv_homepage .hero_section .hero_content .hero_right:before {
        content: '';
        width: 20px;
        height: 100%;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: -15px;
        box-shadow: 0 0 20px 25px #fff;
    }
    .iv_homepage .hero_section h1 {
        font-size: 55px;
        line-height: normal;
        margin-bottom: 20px;
    }
    .iv_homepage .hero_section h1 span {
        color: #00AEEF;
    }
    .iv_homepage .hero_section p {
        font-family: "Patua One", Helvetica, Arial, sans-serif;
        font-size: 28px;
        line-height: normal;
        color: #000;
        margin-bottom: 35px;
    }
    .iv_homepage .hero_section a {
        display: inline-block;
        background-color: #1B9D2C;
        color: #fff;
        font-size: 22px;
        max-width: 230px;
        width: 100%;
        text-align: center;
        padding: 15px;
        transition: all 0.3s ease-in-out 0s;
    }
    .iv_homepage .hero_section a:hover {
        text-decoration: none;
        opacity: 0.8;
    }
    .iv_homepage .hero_section img {
        object-fit: cover;
        height: 100% !important;
        width: 600px;
        max-width: 600px !important;
    }
    .iv_homepage .work_section,
    .iv_homepage .work_section .column_how_it_works {
        margin-bottom: 70px !important;
    }
}

@media (min-width: 992px) and (max-width: 1430.98px) {
    .iv_homepage #Top_bar #logo {
        min-width: inherit;
        max-width: 235px;
    }
    .iv_homepage .header_button {
        max-width: 180px;
        font-size: 19px;
    }
    .iv_homepage .call_text_header {
        max-width: 440px;
    }
    .iv_homepage #Top_bar .menu>li>a span:not(.description) {
        padding: 0 15px;
    }
}

@media (min-width: 992px) and (max-width: 1238.98px) {
    .iv_homepage .call_text_header {
        margin-right: 60px;
    }
}

@media (max-width: 991.98px) {
    .iv_homepage .hero_section {
        display: none;
    }
}