.zipcode-iv-box {
    position: absolute;
    background-color: #fff;
    width: 100%;
    max-width: 510px;
    padding: 30px 20px;
    border: 1px solid #cdcdcd;
    top: 70px;
    display: none;
}

.zipcode-iv-box .title {
    font-family: "HubotSans-M", sans-serif;
    font-size: 1.125rem;
    color: #0a1f8f;
    padding-bottom: 15px;
    text-align: left;
}

.zipcode-iv-box input {
    width: 100%;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    height: 50px;
    padding: 10px 15px;
    text-align: left;
    margin-bottom: 10px;
    background-color: #EFEFEF;
    box-shadow: none !important;
    outline: none;
    min-width: auto;
}

.zipcode-iv-box-inner .pss-search-form__button {
    font-family: "HubotSans-M", sans-serif;
    max-width: 220px;
    height: 50px;
    background-color: #0a1f8f;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    font-size: 1.125rem;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 100%;
    position: relative;
}

.zipcode-iv-box-inner .pss-search-form__button:hover {
    background-color: #001a71;
    color: #fff;
}

.zipcode-iv-box .close_button {
    position: absolute;
    right: 10px;
    top: 10px;
    text-decoration: underline;
}

.zipcode-iv-box.show {
    display: block;
}

/* Zipcode move desktop and mobile */

.zipcode-iv-box-inner .pss-search-form .form-inline.pss-form {
    display: block;
}

.zipcode-iv-box-inner .pss-search-form__button:before {
    content: "Find Storage";
}

.zipcode-iv-box-inner .pss-search-form__button svg {
    display: none;
}

.zipcode-iv-box input::placeholder {
    font-size: 0;
}

@media (max-width:1199px) {
    .zipcode-iv-box {
        position: relative;
        max-width: 100%;
        margin: -1px 0 20px;
        top: 0;
    }

    #navbarSupportedContent > .form-inline.pss-form.pss-invisible-mobile-only2 {
        display: block !important;
    }
}