.modal[id*="addtocartpopupModal"] .modal-header h4,
.modal[id*="addtocartpopupModal"] .modal-content .modal-body .popup-content-wrap .extra-ingredients-wrap,
.modal[id*="addtocartpopupModal"] .add-to-cart-wrap:not(:last-of-type) {
    display: none;
}

.modal[id*="addtocartpopupModal"] .modal-header button {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
}

.modal[id*="addtocartpopupModal"] .modal-content .modal-header {
    padding: 0;
}

.modal .modal-content .modal-body .popup-content-wrap .default-variant-info-wrap {
    padding-bottom: 0;
}