
/* home hero */
.hero_iv .slide1_bg {
    max-width: 48%;
    width: 100%;
    min-width: auto !important;
    overflow: hidden;
    background-image: url('//res.cloudinary.com/ignite-visibility/image/upload/f_auto/Persona_Labs/Desktop_Homepage_Hero/Desktop_hero.png') !important;
    background-size: 690px 100% !important;
    background-position: left top !important;
    position: relative;
    display: inline-block;
    transition-duration: 0s;
}
.hero_iv .hero_iv_slideone_wrap h1 {
    font-size: 32px;
    line-height: normal;
    margin-bottom: 5px;
}
.hero_iv .hero_iv_slideone_wrap h2 {
    font-size: 22px;
    line-height: normal;
    margin-bottom: 10px;
}
.hero_iv .hero_iv_slideone_wrap ul {
    font-size: 16px;
    line-height: normal;
    padding: 0;
    list-style: none;
}
.hero_iv .hero_iv_slideone_wrap ul li {
    padding-left: 30px;
    position: relative;
}
.hero_iv .hero_iv_slideone_wrap ul li:before {
    content: "";
    width: 11px;
    height: 20px;
    display: inline-block;
    transform: rotate(45deg);
    border-bottom: 5px solid #079f19;
    border-right: 5px solid #079f19;
    position: absolute;
    left: 7px;
    top: -1px;
}
.hero_iv .hero_iv_slideone_wrap ul li + li {
    margin-top: 7px;
}
.hero_iv .hero_iv_slideone_wrap .elementor-slide-description > form {
    margin-top: 30px !important;
}
.hero_iv .hero_iv_slideone_wrap .elementor-slide-description > form input {
    border: 1px solid rgba(149, 157, 165, 0.2) !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


@media only screen and (max-width: 767px) {
    /* home hero */
    .hero_iv .hero_iv_slideone_sm_bg .swiper-slide-bg {
        background-color: #fff !important;
        transition: none;
    }

    .hero_iv .hero_iv_slideone_sm_bg .swiper-slide-inner {
        padding-top: 0;
    }

    .hero_iv .hero_iv_slideone_wrap {
        margin-left: 0 !important;
    }
    .hero_iv .hero_iv_slideone_wrap h1 {
        font-size: 24px;
        margin-bottom: 15px;
        font-weight: bold;
        max-width: 315px;
        margin-top: 0;
    }
    .hero_iv .hero_iv_slideone_wrap h2 {
        font-size: 16px;
        margin-bottom: 20px;
        font-weight: 600;
        max-width: 315px;
    }
    .hero_iv .hero_iv_slideone_wrap ul {
        font-size: 14px;
        width: 260px;
        margin: 0 auto;
        max-width: 90%;
    }
    .hero_iv .hero_iv_slideone_wrap ul li {
        padding-left: 27px;
        color: #494642;
        text-align: left;
        font-weight: bold;
    }
    .hero_iv .hero_iv_slideone_wrap ul li:before {
        width: 10px;
        height: 17px;
        border-bottom: 4px solid #079f19;
        border-right: 4px solid #079f19;
        top: 0;
    }
    .hero_iv .hero_iv_slideone_wrap ul li + li {
        margin-top: 15px;
    }
    .hero_iv .hero_iv_slideone_wrap .elementor-slide-description > form {
        border: 1px solid #9b9b9b;
        border-radius: 5px;
        max-width: 100%;
        margin: 0 auto;
    }
    .hero_iv .hero_iv_slideone_wrap .elementor-slide-description > form + div {
        color: #494643;
        font-weight: bold;
    }
    .hero_iv .hero_iv_slideone_wrap .elementor-slide-description > form .search-btn input[type="submit"] {
        float: right;
    }
    .hero_iv .elementor-89920 .elementor-element.elementor-element-537915c .elementor-slide-button:not(a) {
        color: #0080b8 !important;
    }
}







.elementor-location-header + div .elementor-section-wrap>section:nth-child(4) .elementor-divider,
.elementor-location-header + div .elementor-section-wrap>section:nth-child(13) .elementor-divider {
    display: none;
}
.elementor-location-header + div .elementor-section-wrap>section:first-child,
.elementor-location-header + div .elementor-section-wrap>section:nth-child(2),
.elementor-location-header + div .elementor-section-wrap>section:nth-child(4),
.elementor-location-header + div .elementor-section-wrap>section:nth-child(13),
.elementor-location-header + div .elementor-section-wrap>section:nth-child(14),
.elementor-location-header + div .elementor-section-wrap>section:nth-child(15),
.elementor-location-header + div .elementor-section-wrap>section:nth-child(16) {
    background-color: #fff;
}
.elementor-location-header + div .elementor-section-wrap>section:nth-child(14) .elementor-divider .elementor-divider-separator {
    border-top-color: #ecebeb !important;
    margin-top: 20px;
}
.elementor-location-header + div .elementor-section-wrap>section:first-child {
    margin-top: 0;
    padding-top: 19px;
}
.elementor-location-header + div .elementor-section-wrap>section:nth-child(16) {
    margin-top: 0;
    padding-top: 30px;
    margin-bottom: 0;
    padding-bottom: 80px;
}

/* Blue section */
.elementor-location-header + div .elementor-section-wrap>section:nth-child(6),
.elementor-location-header + div .elementor-section-wrap>section:nth-child(7),
.elementor-location-header + div .elementor-section-wrap>section:nth-child(8),
.elementor-location-header + div .elementor-section-wrap>section:nth-child(9),
.elementor-location-header + div .elementor-section-wrap>section:nth-child(10),
.elementor-location-header + div .elementor-section-wrap>section:nth-child(11),
.elementor-location-header + div .elementor-section-wrap>section:nth-child(12) {
    background-color: #0080B8;
    color: #fff;
}
.elementor-location-header + div .elementor-section-wrap>section:nth-child(6),
.elementor-location-header + div .elementor-section-wrap>section:nth-child(8),
.elementor-location-header + div .elementor-section-wrap>section:nth-child(9),
.elementor-location-header + div .elementor-section-wrap>section:nth-child(10),
.elementor-location-header + div .elementor-section-wrap>section:nth-child(12) {
    margin-top: 0;
    margin-bottom: 0;
}
.elementor-location-header + div .elementor-section-wrap>section:nth-child(6),
.elementor-location-header + div .elementor-section-wrap>section:nth-child(8) {
    padding-top: 80px;
    padding-bottom: 60px;
}
.elementor-location-header + div .elementor-section-wrap>section:nth-child(10) {
    padding-top: 40px;
}
.elementor-location-header + div .elementor-section-wrap>section:nth-child(12) {
    padding-top: 40px;
    padding-bottom: 60px;
}
.elementor-location-header + div .elementor-section-wrap>section:nth-child(6) h2,
.elementor-location-header + div .elementor-section-wrap>section:nth-child(7) h2,
.elementor-location-header + div .elementor-section-wrap>section:nth-child(8) h2,
.elementor-location-header + div .elementor-section-wrap>section:nth-child(9) h2,
.elementor-location-header + div .elementor-section-wrap>section:nth-child(10) h2,
.elementor-location-header + div .elementor-section-wrap>section:nth-child(11) h2,
.elementor-location-header + div .elementor-section-wrap>section:nth-child(12) h2 {
    color: #fff !important;
}

@media (max-width: 1024.98px) {
    .elementor-location-header + div .elementor-section-wrap>section:nth-child(17) {
        padding-top: 50px;
    }
    .elementor-location-header + div .elementor-section-wrap>section:nth-child(11) .elementor-slides .swiper-slide-inner .elementor-slide-description span {
        color: #fff !important;
    }
    .elementor-location-header + div .elementor-section-wrap>section:nth-child(11) .elementor-element .swiper-pagination-bullet {
        border-color: #fff;
    }
    .elementor-location-header + div .elementor-section-wrap>section:nth-child(11) .elementor-element .swiper-pagination-bullet-active {
        background: #fff;
    }
}
