.iv-allergensTab #allergensBody ul {
    flex-direction: row !important;
}
.iv-allergensTab .amw-page-pdp__icon-container-inner:not(:nth-of-type(3n)) {
    margin-right: 0;
}
@media(max-width: 767.98px) {
    .iv-allergensTab #allergensBody ul li {
        width: 50%;
    }
    .iv-allergensTab #allergensBody ul li img {
        width: 40px;
        height: 40px;
    }
}