.bullet_iv .rte-setting.mega-subtitle.l-none ,
.bullet_iv h3.h3.mega-title.l-none{
    display: none;
}
.bullet_iv .hero-small-wrapper.s-none {
    display: block;
}
.bullet_iv .hero-small-wrapper .rte-setting {
    max-width: 400px !important;
}
.bullet_iv .hero-small-wrapper.s-none h3 {
    max-width: 720px;
    padding: 50px 20px 50px;
    margin: 0 auto;
}