.hero-review .td_hero_section .trustpilot-widget {
    display: none !important;
}
.hero-review .td_hero_section .trustpilot {
    display: flex;
    flex-direction: column-reverse;
}
.hero-review .td_hero_section .trustpilot .trustpilot-verificationIcon {
    display: none;
}
.hero-review .trustpilot-rating-star {
    width: 315px;
    height: 65px;
}
.hero-review-logo .companys-logos {
    display: flex;
    align-items: center;
}
.hero-review-logo .companys-logos img {
    width: 100%;
    max-width: 113px;
    object-fit: contain;
    margin-right: 10px;
    -webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}
.hero-review-trustpilot-sec + div {
    margin-top: 15px !important;
}

.hero-review-company-logo .companys-in-logo {
    display: flex;
    align-items: center;
    margin-top: 8px;
}
.hero-review-company-logo .companys-in-logo img {
    width: 100%;
    max-width: 90px;
    margin: 0 15px;
}
@media only screen and (max-width: 980px) {
	.hero-review .trustpilot-rating-star {
	    width: 175px;
	    height: 35px;
	}
	.hero-review-logo .companys-logos img {
	    max-width: 75px;
	    margin: 5px 0;
	}

    .hero-review-company-logo .companys-in-logo img {
        max-width: 80px;
        margin: 0 5px;
    }
}
@media only screen and (max-width: 767px) {
    .hero-review-company-logo .companys-in-logo img {
        max-width: 70px;
        margin: 0 5px;
    }
}