header + div button[id*="headlessui-disclosure-button"] {
    pointer-events: none;
}
header + div button[id*="headlessui-disclosure-button"] .btn-info {
    margin-left: 20px;
    padding: 8px 22px;
    pointer-events: auto;
    vertical-align: middle;
}
header + div button[id*="headlessui-disclosure-button"] > svg:last-child {
    display: none;
}
@media screen and (max-width: 575px) {
    header + div button[id*="headlessui-disclosure-button"] {
        font-size: 13px;
    }
    header + div button[id*="headlessui-disclosure-button"] .btn-info {
        margin-left: 12px;
        padding: 4px 18px;
    }
}