.iv-badges-list {
    flex-wrap: inherit !important;
    max-width: 100% !important;
    grid-column-gap: 5px;
    justify-content: space-between;
    border-bottom: 1px solid #b5b5b5;
    margin: 0 0 10px;
    padding: 0 0 10px;
    flex-direction: inherit !important;
    flex-flow: row wrap;
}
.iv-badges-list li {
    /* width: calc(25% - 15px); */
    margin: 0 !important;
}

.iv-badges-list li:nth-child(1) {
    order: 1;
}
.iv-badges-list li:nth-child(4) {
    order: 3;
    min-width: 100px;
}

.iv-badges-list li img{
    width: 100%;
    max-width: 45px;
}

.iv-badges-list li span{
    font-size: 14px;
    line-height: 18px;
    margin-left: 10px;
}

@media screen and (max-width: 1250px){
    .iv-badges-list li img{
        max-width: 40px;
    }
}

@media screen and (max-width: 1080px){ 
    .iv-badges-list li {
        flex-direction: column;
    }
    .iv-badges-list li {
        flex-direction: column;
        text-align: center;
    }
    /* .iv-badges-list li {
        width: calc(23.33% - 15px);
    }
    .iv-badges-list li:nth-child(4) {
        width: calc(30% - 15px);
    } */
}

@media screen and (max-width: 767px) {
    /* .iv-badges-list li {
        width: calc(21.66% - 10px);
    }
    .iv-badges-list li:nth-child(4) {
        width: calc(35% - 10px);
    } */
    .iv-badges-list li span {
        font-size: 14px;
        line-height: 19px;
        margin-left: 0;
    }
}