.iv-security-banner .iv-security-banner-section {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-bottom: 1px solid #ddd;
    margin: 20px 0;
}
.iv-security-banner .iv-security-banner-inner {
    display: flex;
    background-color: #fff;
}
.iv-security-banner .iv-banner-img {
    width: calc(100% - 450px);
    align-items: center;
    display: flex;
    background-color: #d0e3ff;
}
.iv-security-banner .iv-banner-img img {
    width: 100%;
}
.iv-security-banner .iv-banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 19px 8px 19px 19px;
}
.iv-security-banner .iv-banner-label {
    background-color: #c1d82f;
    padding: 8px 15px;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    width: max-content;
}
.iv-security-banner .iv-banner-heading {
    color: #0a1f8f;
    font-size: 22px;
    font-weight: bold;
    line-height: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.iv-security-banner #locationsTabNavigation .pss-unit-list__container > div > .pss-unit-list__item:nth-child(5) {
    border-top: 1px solid #d1d3d4;
}
.iv-security-banner-section ul {
    position: relative;
    list-style: none;
}
.iv-security-banner-section ul li {
    font-family: 'HubotSans';
    font-size: 18px;
    line-height: 27px;
    color: #0A1F8F;
}
.iv-security-banner-section ul li:before {
    content: "";
    background-image: url(//res.cloudinary.com/ignite-visibility/image/upload/f_auto/PriceSelfStorage/Checkred.png);
    position: absolute;
    width: 17px;
    height: 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: -32px;
    margin-top: 4px;
}
@media (min-width: 767px) {
    .pss-unit-list__container {
        border: 1px solid #fff;
    }
    .pss-unit-list__container > div > div:first-child {
        border-top: 1px solid #d1d3d4;
    }
    .pss-unit-list__container > div > div {
        border-bottom: 1px solid #d1d3d4;
        border-left: 1px solid #d1d3d4;
        border-right: 1px solid #d1d3d4;
    }
}
@media (max-width: 767.98px) {
    .iv-security-banner .iv-banner-img {
        width: 40%;
    }
    .iv-security-banner .iv-banner-content {
        width: 60%;
        padding: 19px 10px;
    }
    .iv-security-banner .iv-banner-heading {
        font-size: 18px;
        line-height: normal;
    }
    .iv-security-banner .iv-security-banner-section {
        margin: 0 0 10px;
    }
}
@media (max-width: 520.98px) {
    .iv-security-banner .iv-banner-img {
        width: 35%;
    }
    .iv-security-banner .iv-banner-content {
        width: 65%;
    }
    .iv-security-banner .iv-banner-label {
        font-size: 14px;
    }
    .iv-security-banner .iv-banner-heading {
        font-size: 16px;
        margin-bottom: 10px;
    }

}
@media (max-width: 424.98px) {
    .iv-security-banner .iv-banner-heading {
        font-size: 13px;
    }
    .iv-security-banner .iv-banner-label{
        font-size: 11px;
    }
}