.productPage #pagecontent + div >.sixteen.columns,
.productPage .swatch_options,
.productPage .product-quantity-box.purchase-details__quantity label,
.productPage .ig-custom--template .shopify-product-form > .select label,
.productPage .ig-custom--template .shopify-product-form .purchase-details .select label,
.productPage .section.product_section > div .feature_divider,
.productPage .product_gallery_nav {
    display: none;
}
.productPage .ig-custom--template .shopify-product-form .purchase-details .select,
.productPage .ig-custom--template .shopify-product-form .purchase-details .selector-wrapper + select {
    display: block !important;
}
.productPage aside#cart-drawer.cart-drawer {
    z-index: 9999999;
}
.productPage .ig-custom--template .shopify-product-form .purchase-details .select {
    max-width: 60%;
}
.productPage .ig-custom--template .shopify-product-form .purchase-details .product-quantity-box {
    max-width: 35%;
}
.productPage .section.product_section > div {
    width: 100%;
}
.productPage .ig-custom--template h1.product_name {
    text-align: center;
}
.productPage .product_gallery {
    padding-bottom: 100px;
}
.productPage .product_gallery > button {
    width: 30px;
    height: 50px;
    opacity: 1 !important;
    top: inherit;
    bottom: 43px;
    padding: 0;
    z-index: 1;
    box-shadow: none;
    outline: none;
}
.productPage .product_gallery > button svg {
    width: 100%;
    height: 100%;
    left: inherit;
    right: inherit;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.productPage .flickity-page-dots {
    bottom: 60px;
}
.productPage .flickity-page-dots .dot {
    margin: 0 5px;
}
.productPage .flickity-page-dots .dot.is-selected:after {
    content: attr(data-pname);
    position: absolute;
    left: 0;
    right: 0;
    top: 35px;
    font-size: 32px;
    font-weight: bold;
}
.productPage .selector-wrapper + select {
    border: 2px solid #1dafe0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 3px 36px 3px 6px;
    margin-bottom: 0;
    background-color: #49464A;
    color: white;
    border-radius: inherit;
}
.productPage .purchase-details {
    justify-content: space-between;
    margin-bottom: 30px;
}
.productPage .product-quantity-box .quantity {
    width: 50% !important;
}
.productPage .purchase-details .product-quantity-box .product-plus,
.productPage .purchase-details .product-quantity-box .product-minus{
    width: 25%;
}
.productPage .purchase-details .product-quantity-box .product-plus .icon-plus:before,
.productPage .purchase-details .product-quantity-box .product-minus .icon-minus:before {
    font-size: 13px;
}
.productPage .purchase-details .add_to_cart {
    font-size: 24px;
    letter-spacing: 2px;
    line-height: 0 !important;
}
.productPage .section.product_section > div .jdgm-widget {
    display: none;
    float: left;
    margin-top: 6px;
    margin-right: 15px;

}
.productPage .section.product_section > div .modal_price {
    text-align: center;
    margin: 0 auto 20px;
}
.productPage .product_section .product_form {
    clear: left;
}
.productPage .product_title {
    list-style: none;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    padding: 0;
    margin: 0 auto 30px;
}
.productPage .product_title li {
    display: none;
}
.productPage .product_title li.active {
    display: block;
}

@media (max-width: 479px) {
    .productPage .flickity-page-dots .dot.is-selected:after {
        font-size: 24px;
    }
}

@media (max-width: 359px) {
    .productPage .flickity-page-dots .dot.is-selected:after {
        top: 27px;
    }
}